[2016-08-29 01:51] jonschlinkert opened #1 "code review"
@TrySound if you have a moment, I'd love to have your feedback on [this code](https://github.com/enquirer/enquirer/blob/master/index.js#L162-L231) in particular. Any feedback would be great, but I'm still somewhat new to promises.

(@doowb, @tunnckoCore, feedback welcome from you as well)

prs would be great too :) but I'd be happy with feedback.

[2016-08-29 01:51] jonschlinkert opened #2 "logo"
We need a logo!!!

[2016-08-29 04:16] TrySound commented on #1
This part shouldn't be wrapped with Promise. Results can be returned with Promise.resolve and Promise.reject. You still wrap it with try-catch.
https://github.com/enquirer/enquirer/blob/master/index.js#L206-L230

ps Did you try to contribute inquirer? They did a lot of good stuff like introducing Promises.

[2016-08-29 17:31] tunnckoCore commented on #1
The problem isn't that it's wrapped with Promise, but that it is in try catch in that promise.

The `.ask` is okey to me. But I think you can remove try/catch from `.prompt` method. I believe it can be done like that

[code]

[2016-08-29 18:29] jonschlinkert commented on #1
yes, we don't agree on goals

[2016-08-29 18:30] jonschlinkert commented on #1
ok, thanks I'll review and comment on the rest in a bit, i appreciate it

[2016-08-29 18:40] jonschlinkert commented on #1
for example, I created a plugin that bundles all of the "core" prompt types, so you can just do:

[code]

[2016-08-29 20:08] jonschlinkert commented on #1
Hmm, I'm not sure how [this code](https://github.com/enquirer/enquirer/blob/master/index.js#L206-L230) will work consistently if not wrapped in a `new Promise`. We want to make sure we catch errors [here](https://github.com/enquirer/enquirer/blob/master/index.js#L218), or [here](https://github.com/enquirer/enquirer/blob/master/index.js#L208-L216). Am I missing something?

[2016-08-29 21:11] tunnckoCore commented on #1
It will work and will catch these cases even without try/catch, try it.

Let's say, that something fails in that `try` block, but not the `PromptType` initialization or `prompt.run` method, it will pass error to `.catch()` or to `.then(null, err)` as usual. If `promptType` or the `.run` method fails it will pass rejected promise to `resolve` and everything is okey.

[code]

[2016-08-29 22:42] tunnckoCore commented on #1
As second prompt is pushed - `*-prompt-confirm`, I still believe that we should build them as plugins. And the [index.js#L33](https://github.com/enquirer/enquirer/blob/master/index.js#L33) could be done like this

[code]

I think we should merge them together and it won't be so breaking change to already created prompts, the changes to them can be minimal as

[code]

And `.use` could be changed to

[2016-08-29 23:04] jonschlinkert commented on #1
You might need to talk me through this more, but I don't see why we would want "prompts" and "plugins" to be registered using the same method. They aren't the same thing.  Currently there is a clear "separation of concerns": _Prompts aren't plugins to enquirer, they are instances of `Prompt`._ Plugins are used to extend the instance of enquirer.

Perhaps we should create another issue to discuss t

[2016-08-29 23:39] jonschlinkert commented on #1
also, it's worth noting that I'm trying to make prompts work without enquirer. It's not 100% there yet, but it should be easy if we keep everything decoupled

[2016-08-29 23:45] tunnckoCore commented on #1
I felt it that way too.

Yea, absolutely, it's better. Nevermind I just thinking, but you're right.

[2016-08-30 00:11] jonschlinkert commented on #1
I love that, it's great. I look forward to your ideas, thanks

[2016-08-30 06:19] kokujin opened #3 "Interesting, but annoying docs"
I was interested, especially when I read it only takes 11ms to load. I decided to try it out by copying and pasting code from the docs:

[code]
But no! How dare I! I get this:

[code]
I would'nt have bothered actually, I could read the docs further or take a look at the tests to see whats going on, but I have been trying to get my custom generators working using https://github.com/generate/generat

[2016-08-30 06:42] #3 closed

[2016-08-30 06:44] kokujin commented on #3
Whoa! No code example, or explanation?

[2016-08-30 06:48] jonschlinkert commented on #3
Read the attached commit. Read the code. Or, be kind, and you will get help.

[2016-08-30 06:51] kokujin commented on #3
I apologized, I thought that was evident. On the other hand, I hinted at something which others might be experiencing.

Could you point out what I am doing wrong in my code snippet?

[2016-08-30 07:06] jonschlinkert commented on #3
Not to keep this going, but when you apologize in the same textbox in which you're insulting the developers/maintainers of a project (or even two projects), it hard to take as a sincere comment. Perhaps, instead of apologizing, just revise the comment next time? Just a thought...

While I do appreciate getting issues about mistakes in the docs, I try to keep as positive of an attitude as possible,

[2016-08-30 07:43] kokujin commented on #3
I apologize once again. I admit I was a bit rough on you guys. Actually, it was just because I was frustrated for the fact that I have a potentially good tool for my toolbox and I could'nt get it work.

I would, of course, love to help where I can, be it documentation or code.

Thanks for the code snippet.

[2016-08-30 12:37] jonschlinkert commented on #3
help would always be appreciated, thanks

[2016-09-01 18:53] jonschlinkert commented on #1
ok, I'm going to close but feel free to provide more feedback if you see something that I did wrong or that can be improved. thanks

[2016-09-01 18:53] #1 closed

[2016-09-01 18:59] jonschlinkert opened #4 "prompt package names"
The code is now generalized for questions and prompts (in the `prompt-base` and `prompt-question` modules).

Since all prompts can now be used with or without enquirer, should I change the naming convention of prompt modules from `enquirer-prompt-*` to just `prompt-*`?

The only npm name that's taken currently is `prompt-input`, but `input` is built into prompt-base now anyway.

I'm 50/50 on this

[2016-09-01 19:22] doowb commented on #4
+1 to rename for me. I like the simpler `prompt-`.

[2016-09-01 19:46] tunnckoCore commented on #1
Nothing more, than suggested Promise changes.

edit: Noticed [that](https://github.com/enquirer/enquirer/blob/master/index.js#L241-L264) know and don't like it. In case you return promise, in another you directly throw errors? Looks like not good feeling.

[2016-09-01 19:49] tunnckoCore commented on #4
Yea, +1 too. And they to stay under the @enquirer org.

[2016-09-01 20:13] jonschlinkert commented on #1
I thought that's what you were both suggesting to do lol. that's why I was saying it didn't sound right. can you show me what you meant before? (sorry I'm still trying to learn promises. I haven't been a big fan of using them - mainly because I think it increases the learning curve for newcomers, but I still want to learn them, it might change my view...)

[2016-09-01 20:29] TrySound commented on #4
+1 prompt and staying

[2016-09-01 22:05] jonschlinkert commented on #4
sounds unanimous, I'll start doing that now, thanks for the feedback!

[2016-09-01 22:05] #4 closed

[2016-09-01 22:45] tunnckoCore commented on #1
Haha, no problem. I don't see what is "the hard" in promises, and why many people don't understand it.
Anyway, maybe I'm really crazy, lol.

I'm thinking for this one

[code]

You can try separately this one to understand the comment in above snippet.

[code]

Anyway. The whole thing is that you can have more than one listener/handler, so that's why we need to throw from the `.catch`. I found this

[2016-09-05 15:36] aravindjs commented on #2
How about this? ![newlogo](https://cloud.githubusercontent.com/assets/22008758/18252494/6019ee3a-73ac-11e6-8ac0-33d34c32714c.png)

[2016-09-05 19:18] jonschlinkert commented on #2
that's headed in the right direction, thanks!

[2016-10-13 12:00] matthewmueller opened #5 "enquire.ask twice seems to hang"
Something like this:

[code]

[2016-10-13 15:10] jonschlinkert commented on #5
I'm pretty sure I know what's causing that. I have a bunch of fixes to push up for enquirer and some of the prompts. I'll update this as soon as I do

thanks for reporting.

[2016-10-17 15:04] nschoe opened #6 "How to chain more than one call?"
Hi,
I've seen #5 but this one is slightly different (at least I think so). I find the library very nice, but I'm failing at making a simple menu with 2 screens (the 2nd screen depending on the output of the 1st), which seems like a _basic_ use of `enquirer`.

So have I missed something here?
Here is my use case: I want to first ask the user for the name of an argument, and then make him chose betw

[2016-10-17 15:09] nschoe commented on #6
Just for information, then I tried to change my function so that it worked with a recursive function, note that unlike #5, I use a `let enquirer = new Enquirer ()` _inside_ the recursive function, so that `.ask()` is never called twice on the _same `enquirer`_, but a new one gets created at each function call.

[code]

This time, I've got this on my console:

[code]

So, as before, the first set o

[2016-10-17 15:13] jonschlinkert commented on #6
Thanks for the detailed explanation. We had this issue a couple of weeks ago and I'm struggling to remember how we resolved it. e.g. I thought this was fixed, but apparently it isn't.

That said, I have a general idea of what's causing it but I'm not sure if I know enough to explain it yet. Let me look into it and I'll come back with updates as soon as I learn what's happening.

thank you for crea

[2016-10-17 15:32] nschoe commented on #6
Hum thanks.
But this is somehow weird to me: given the library's nature (making prompts to ask questions **interactively** to the user), it seems like a _basic_ use case to chain several questions.

How come you did not run into this problem sooner?
Anyway I'm not criticizing: this is an awesome work. But I'm just wondering if I'm missing something :-)

[2016-10-17 15:43] doowb commented on #6
Just off the top of my head... `enquirer.ask()` returns a promise, which is async... meaning that it doesn't resolve until the user responses to the prompt. So you're update to use the `query` function and call it in the `.then` method makes sense. (The first example was trying to ask all 3 questions at the same time).

As to why it's not showing the other prompts, I'll have to look into this a li

[2016-10-17 15:44] jonschlinkert commented on #6
The reason actually makes sense (if it's what I think it is). After publishing enquirer I decided to refactor all of the individual prompts to make them completely self-encapsulated. Since each prompt needed to be able to control when and how the readline interface is creates, I had to refactor the logic around that to ensure that prompts and enquirer could both instantiate and terminate the inter

[2016-10-17 15:48] nschoe commented on #6
Hi @doowb , thanks for answering.
As for the npm cache: I have just discovered and tried enqurier, so the install dates back a few minutes :-)

I perfectly understand why the first example doesn't work (indeed tries to ask the three questions at once), but the second code snippet should be working.

By the way, yes there are situations where several questions can be asked, but it's when you call `

[2016-10-17 16:04] jonschlinkert commented on #6
It's [called here](https://github.com/enquirer/enquirer/blob/master/index.js#L209), but I'm thinking the bug is in `prompt-base` and is related to how the events are handled.

We had to make changes to allow prompts themselves to terminate a readline session. This was a little trickier than I thought it would be, because it's not at all implicit when a user plans to chain prompts - when the interf

[2016-10-17 16:22] nschoe commented on #6
Okay, I'll take a look at `prompt-base`, but I'm not sure I'll be able to find anything faster than you guys.
Thanks fro the reactivity.

[2016-10-17 16:25] jonschlinkert commented on #6
hey no worries, we're not expecting you to do any debugging or looking into it at all. Just your feedback on whether something is working for you etc. is great

[2016-10-17 16:29] nschoe commented on #6
Yeah don't worry, but if I can help...

By the way, I've just isolated `prompt-base` and run this simple snippet:

[code]

And this works okay for me, here's the output of the console:

[code]

So it does ask for the first argument's name then the argument's type.
At least, just with `prompt-base`, I can ask several questions.

[2016-10-17 16:47] doowb commented on #6
As @jonschlinkert pointed out, the `finish` method is being called too soon and closing the interface to the `readline` prompt.

I think we had initially done this because using prompts multiple times was adding too many event listeners. This caused "earlier" prompts to still be listening for events on the UI event though they should be finished.

We added a `.only` method to help manage these lis

[2016-10-17 16:57] jonschlinkert commented on #6
It doesn't hurt for users to be able to do this, but this shouldn't "need" to be done in enquirer. It should only be necessary when individual prompts are used _without enquirer AND the prompt is chained or nested_.

In enquirer, the `.prompt()` method is used for running a single prompt, and `.ask()` (which calls the `.prompt()` method) is used to control flow for one or more prompts.

[2016-10-17 17:32] doowb commented on #6
Good point... the original example will run when using the `.prompt` method on `enquirer` because the `.finish` method is never called. @nschoe this would work like your `prompt-base` example above.

I think `.finished` still needs to be removed from `.ask` so the method can be used multiple times if necessary.

[2016-10-17 18:21] doowb commented on #6
@nschoe please pull down the latest and try your example with the `query` function. This should be working now.

[2016-10-18 07:28] nschoe commented on #6
Hi @doowb, @jonschlinkert ,

thanks for the amazing work again, I'm happy that you seemed to have worked it out. I'm pulling the latest and trying again _right now_, I'll come back to you.

In the meantime, reading your message, what I understand is that we have two functions `.prompt()` and `.ask()`, one of them should be called when using the prompts in standalone mode (it calls `.finish()` afte

[2016-10-18 08:08] nschoe commented on #6
Okay sorry for the delay I was dragged urgently by someone.
So I have pulled the latest and tried by example with the recursive function, it seems to work, here is the console session:

[code]

It _is_ a bit bloated on the output, but at least it works: it asks me for several chained questions. It's only at the end that the output get a bit scrambled. Do you have ideas as to why?

Anyway, thanks *

[2016-10-18 12:01] doowb commented on #6
There was a bug in prompt-checkbox (used by prompt-radio) that I fixed yesterday causing the extra output. Get the latest and it should be good.

[2016-10-18 13:05] nschoe commented on #6
Awesome, thanks!
Thanks again for the good work and fast answers, @doowb, @jonschlinkert !

What about the issue on enquirer/prompt-confirm#1, any idea?

[2016-11-03 17:16] Aeonrush opened #7 "Repetition of the same set of questions"
Hi
I write CLI for my little deploy tool, it based on [shipit](https://github.com/shipitjs/shipit), and I want to configure [`staging` section](https://github.com/shipitjs/shipit#example-shipitfilejs), but it involves a repetition of the same set of questions until you say 'no'.
How I can manage this with `enquirer`?

[2016-11-08 00:19] TylorS opened #8 "Feature Suggestion: Skipping a question on condition"
I'm building a series of command-line related tools and have been really please to run across this project. Previously I have been using `inquirer`, but have felt its weight and design decisions don't suit my goals too well. However one useful feature it has that is currently not supported here is the ability to skip a question based on previous answers.

[code]

I've run into this need at least o

[2016-11-08 01:04] tunnckoCore commented on #8
I believe it is possible and it may be not documented, or it is documented in some underlying building blocks. But also I can be in mistake with `question-cache`, I'll recheck.

[2016-11-08 01:11] TylorS commented on #8
Thanks @tunnckoCore! I couldn't find any documentation for it. Closing.

[2016-11-08 01:11] tunnckoCore commented on #8
What about something like

[code]

[2016-11-08 01:13] tunnckoCore commented on #8
@TylorS I don't think we should close it, cuz it is reasonable currently. And will be as remainder that there is a bug in prompt-base.

[2016-11-08 01:16] doowb commented on #8
@TylorS what error are you getting? I tried this and it seems to be working.

[2016-11-08 01:58] TylorS commented on #8
@doowb I'm not getting any error, I just couldn't find the related documentation to achieve this behavior.

@tunnckoCore Its working for me as well.

[2016-11-08 02:06] jonschlinkert commented on #8
thanks for the reminder, I'll create a new issue and link to this

[2016-11-08 02:07] jonschlinkert opened #9 "docs: need docs for `when` method"
related #8

[2016-11-08 02:07] #8 closed

[2016-12-10 10:23] jonschlinkert commented on #6
closing per https://github.com/enquirer/enquirer/issues/6#issuecomment-254436906

[2016-12-10 10:23] #6 closed

[2016-12-10 10:26] jonschlinkert commented on #5
@matthewmueller I believe this was fixed a while ago (and all of the prompts were published), but I forgot to update as promised.

[2016-12-10 10:26] jonschlinkert commented on #2
closing since we found a logo a while back

[2016-12-10 10:26] #2 closed

[2017-03-06 12:14] #5 closed

[2017-03-06 12:16] jonschlinkert commented on #7
yikes, really sorry I missed this question. I believe Nov. was when I had a bad cold for a couple of weeks. apologies.

Did you ever get this resolved? I don't blame you if you went in a different direction, but I'd be happy to help if you still have questions. (shipit is awesome btw)

[2017-03-08 14:52] Aeonrush commented on #7
Hi
No, I'm not resolved this problem 😄

[2017-03-08 15:04] doowb commented on #7
@Aeonrush I've been working on features and fixing bugs throughout `enquirer`. I can take a look at this and see if it's something we can add to enquirer or make a plugin for.

Do you have a code example of how you'd like to use this?

[2017-03-23 03:48] mrozbarry opened #12 "Non alpha-numeric characters don't automatically display in the default question (v0.4.1)"
Using a default question, my input flows like this:

1. New prompt, `""`
2. Type a, `"a"`
3. Type -, `"a"`
4. Type b, `"a-b"`

I get the same behaviour with slashes, as well.

[2017-03-23 03:54] jonschlinkert commented on #12
related https://github.com/enquirer/readline-utils/issues/2#issuecomment-287588363

[2017-03-24 12:54] mrozbarry opened #13 "osx/iterm/v0.4.1 using Ctrl+C to exit the cli app makes the text cursor disappear"
To fix the problem, I'm able to re-run my app and do a proper exit with a list option and process.exit(). Any chance of getting something like `enquirer.cleanup()` to close any pipes/handles that aren't cleaned up when an `.ask` is done?

[2017-03-24 13:02] jonschlinkert commented on #13
@doowb and I just talked about something related (I believe). @doowb did you mention having a local branch with a fix for this?

[2017-03-24 13:03] mrozbarry commented on #13
Wow you guys are fast :)

[2017-03-24 13:04] mrozbarry commented on #13
Also, it appears that enquirer is globbling up my `Ctrl + c` and `process.on("SIGINT", function () { console.log("Ctrl+C pressed!") })` doesn't fire - not sure if this is a related problem, or a separate issue, though.

[2017-03-24 14:12] doowb commented on #13
There's a bug in `prompt-base` that in some situations the input stream is held open causing the app to stay open, requiring the use of `Ctrl + c`. I have a fix for that and I'll get it pushed up soon.

This has something to do with `readline`, but I don't remember off the top of my head how it's handled. I'll look into it to see if this is a problem. It might be that we need to handle `Ctrl + c`

[2017-03-24 18:47] jonschlinkert commented on #13
haha, well let's see how fast we can get that fix shipped. Sorry it's taking so long, we wanted to do more testing locally before we pushed it up. thanks!

[2017-03-24 18:49] jonschlinkert commented on #13
I think we already explicitly handle it somewhere, probably readline-utils, but we probably are not doing anything to hide or show the cursor. A pr for this would be great, or we'll try to get this fixed asap.

[2017-04-09 08:49] leebenson opened #14 "Validation"
Awesome mod. Really love the fact it loads so quickly. I'm wondering if there's a validation option somewhere in the source that I've missed?

Like Inquirer has - if it fails validation, then an error message is displayed and the question is re-asked.

Completely possible to do this in userland, of course, but the code can quickly devolve into spaghetti when separate validation needs to be done in

[2017-04-09 08:51] leebenson opened #15 "Auto answering"
The same as this [issue at Inquirer](https://github.com/SBoudrias/Inquirer.js/issues/517#issuecomment-292753130).

Copied for ref:

---

I'm building a CLI tool that takes options via yargs. Inquirer is used to show a 'wizard' for any question that isn't already answered by a command line arg.

I can't use `default`, because that's basically just echoing back what the user has already entered, and

[2017-04-09 08:54] leebenson commented on #9
Is there still being actively maintained?

Not a criticism, just a genuine question. I don't mind digging into source code to find the answers, but seeing some of these 'hidden' features land in docs would, IMO, give users more confidence to adopt a library like this as an alternative to Inquirer.

[2017-04-09 15:01] doowb commented on #14
@leebenson thanks for the question. We're still working on getting testing and docs setup for `enquirer` and most of the `prompt-*` modules. Some of the prompts allow passing a `.validate` method when creating the prompt. If you return an error message from `.validate`, this will show under the question (pretty much like inquirer).

I'm going to mark this as "docs" so we can remember to get it doc

[2017-04-09 17:46] jonschlinkert commented on #9
Is what still being maintained? This library has more activity than you do, are you stil being maintained?

[2017-04-09 17:46] #9 closed

[2017-04-09 17:47] jonschlinkert commented on #9
https://github.com/enquirer/prompt-base#run

[2017-04-09 17:53] leebenson commented on #9
Apologies if it caused offence; it was a genuine question. It seems like the doc is out of sync with features, and this issue has been open over 6 months without resolution. In a world where 90% of libs lose steam, it's a pretty common question to ask.

[2017-04-09 18:14] jonschlinkert commented on #9
This feature was created by me, a maintainer of the project. Not a user.

https://github.com/jonschlinkert/idiomatic-contributing#dont

[2017-04-09 19:01] leebenson commented on #9
I get that. But you created it 6 months ago. If the docs haven't been updated within the last half-year, to me (as a new user of your lib, seeing it for the very first time) that doesn't bode well to build stuff on top of this, if even if the docs aren't finished.

The README doesn't mention `when` _at all_. A better answer would be an ETA for finishing docs.

You wrote that, not me. As a fellow l

[2017-04-09 19:15] jonschlinkert commented on #9
You sound like you jump to conclusions and don't do research. Should we feel like we're losing someone who would have been valuable?

Then you are not someone we want using our projects.

[2017-05-11 03:44] jonschlinkert commented on #14
been working on docs, we'll have something up pretty soon

[2017-05-11 03:45] jonschlinkert commented on #13
I'm pretty sure this was fixed. We can re-open or create a new issue if anyone still has a problem with this

[2017-05-11 03:47] jonschlinkert commented on #12
I believe this was resolved, I'm going to close but please feel free to reopen or create a new issue if you're still having problems.

[2017-05-11 03:47] #12 closed

[2017-05-11 03:47] jonschlinkert commented on #7
I believe this was resolved, I'm going to close but please feel free to reopen or create a new issue if you're still having problems.

[2017-05-11 03:47] #7 closed

[2017-06-26 19:31] mmikitka opened #17 "Integrating Enquirer with a browser UI?"
Hello - Is it possible to integrate Enquirer with a browser UI, such that question/prompt definitions and related behaviours are decoupled from the presentation (e.g., CLI, browser)? If so, can you please guide me to the relevant documentation? If not, would you consider adding this to the roadmap?

I am not looking for a terminal-like interface in a browser, rather I'm looking for the core of Enq

[2017-07-12 19:12] stevenvachon opened #18 "Default value of """
Should it show the "()"? Maybe have an option to toggle this.

[2017-07-13 03:01] jonschlinkert commented on #18
no, I thought I fixed that. It's a bug

[2017-07-13 05:00] stevenvachon commented on #17
https://github.com/chjj/tty.js ?

[2017-07-13 05:02] stevenvachon commented on #17
I think what you'd want to do is not use Enquirer, but create a browser UI library that mocks the same API.

[2017-07-13 05:05] stevenvachon opened #19 "Windows issue"
This is being logged in AppVeyor CI:
[code]

from this code:
[code]

I'm not sure if what I'm experiencing is caused by Enquirer or by the CI. I've tried running this library in a Windows VM and could not reproduce the issue there.

https://ci.appveyor.com/project/stevenvachon/dotenv-prompt/build/24/job/64gi24d9i6ytyxnf#L588

[2017-07-13 18:09] stevenvachon commented on #19
@jonschlinkert @doowb ^^

[2017-07-14 22:35] #19 closed

[2017-07-14 22:36] stevenvachon commented on #19
Switched to [node-pty](https://npmjs.com/node-pty) and this issue was resolved, however a whole other can of bugs has been opened, probably unrelated to this library.

[2017-08-25 22:19] RyanZim commented on #14
@jonschlinkert ping?

[2017-09-07 03:16] sbj42 opened #20 "readme incorrectly references prompt-input instead of prompt-text"
The README.md lists `prompt-input` as a possible prompt type, but [that npm package](https://www.npmjs.com/package/prompt-input) is under a security hold:

It looks like the actual package included by default in Enquirer is `prompt-text`, so I'm guessing the only issue here is that the README.md needs updating, although it's also not clear if setting the `type` of a question to "input" will choose

[2017-09-07 04:49] jonschlinkert commented on #20
Thanks for the heads up!

Maybe that can be released... If so I'd love to be able to use it.

[2017-09-11 22:50] doowb commented on #20
@sbj42 thanks for point this out. We got `prompt-input` and renamed `prompt-text`, so the docs will be correct here. When we make changes to `enquirer`, we'll update to `prompt-input`.

[2017-09-11 22:50] #20 closed

[2017-10-11 16:19] doowb commented on #15
@leebenson sorry for not responding to this sooner. I think this is a great idea and with some of the changes that we've discussed will make this easier to do.

Currently, there isn't a way to auto answer and display the answer, but you can fake it by emitting the `line` event when the question is asked:

**Beware: this is a workaround based on how we test the prompts**

[code]

[2017-11-21 03:58] Vernando05 commented on #19
I got this in mintty too
![vertical](https://user-images.githubusercontent.com/4611749/33054279-d1624088-ceaa-11e7-8500-53259082d98f.png),
everything is fine in powershell and cmd

[2017-11-21 05:20] jonschlinkert commented on #19
Did you create an issue on mintty? Or do you know what is causing the issue and that it's specifically related to this library? If so, please provide all of the details necessary to duplicate the bug and begin debugging so we can solve it.

[2018-02-23 14:52] ianwalter commented on #15
@doowb That's pretty cool but does it work on other prompts like `list` for example?

[2018-10-07 11:59] jonschlinkert opened #22 "Perf comparisons"
# Perf

This shows the time it takes to load the following libraries when they are required _anywhere inside your project_, **even if the library is never used**.

- Enquirer v2.0.0 - **7ms** (10 require calls)
- [Prompts](https://github.com/terkelg/prompts) v1.1.1 - **27ms** (52 require calls)
- [Inquirer](https://github.com/SBoudrias/Inquirer.js) v6.2.0 - **253ms** (775 require calls!)

## Enqui

[2018-10-12 05:09] linkjay opened #23 "Question docked at the bottom?"
Is there any possible way to dock a question prompt at the bottom or at least move it upon output to the console so it does not interfere with the prompt?

[2018-10-13 05:50] jonschlinkert commented on #23
This is easy to do in [Enquirer 2.0](https://github.com/enquirer/enquirer/pull/24). I'm planning to release it sometime this weekend, Monday at the latest.

[2018-10-13 20:44] linkjay commented on #23
Very nice. Since it looks like you already have it done, I will close this.

Thank you!

[2018-10-13 20:44] #23 closed

[2018-10-30 19:25] jonschlinkert opened #25 "Help Wanted: Documentation"
Earlier today, #24 was published as 2.0 with the `beta` tag! The only thing stopping us from merging to master and publishing 2.0 is documentation.

If you'd like to help with docs (readme documentation only, for now), here is an outline of what we need:

- A section for the `Enquirer` class. Enquirer itself can be viewed as the prompt "runner". It handles state and events for multiple prompts, et

[2018-11-02 22:31] tunnckoCore opened #26 "Support for dot notation on `question.name`"
Seems to not work. But would be great! : )

So far, Enquirer v2 is awesome.

[2018-11-07 09:39] jonschlinkert commented on #26
It seems like this is something that should be done in implementations, but I'm open to ideas if you have suggestions for how it would be done here.

[2018-11-07 09:43] jonschlinkert commented on #18
Just released Enquirer 2.0, this should no longer be an issue.

[2018-11-07 09:43] #18 closed

[2018-11-07 09:43] jonschlinkert commented on #17
I believe @doowb created an example for this with Enquirer 2.0. Maybe we can get him to share how that worked! :)

[2018-11-07 09:44] #15 closed

[2018-11-07 11:28] swashata commented on #25
Hi,

I created a gatsbyjs template for documentation. Here you can see https://wpack.io and here's the repo https://github.com/swashata/wp-webpack-script/tree/master/site I can create a starter template out of it, or even help you in implementing.

For the docs itself I will this it out to replace inquirerjs and maybe I could be of help.

[2018-11-07 12:10] tunnckoCore commented on #26
Oh yea, make total sense. But it would be great if built-in support comes one day.

[2018-11-07 13:12] jonschlinkert commented on #26
Agreed, I'm just not sure of the best approach.  Let me know if you think of a user-friendly way to do it.

[2018-11-08 03:00] tunnckoCore opened #27 "Multiline prompt?"
Sounds like there is no such? It errors with "prompt is not registered".

Any way to imitate this?

[2018-11-08 03:06] jonschlinkert commented on #27
Thanks for letting us know. Where did you see that one? We are going to re-add it but I thought I removed all of the examples.

[2018-11-08 03:16] tunnckoCore commented on #27
What that? Just needed. Or asking about the error?

[2018-11-08 03:18] jonschlinkert commented on #27
wait... oh I see. Lol, we actually had a prompt named `MultiLine` (I think, or it was something similar to that). You obviously meant something different, but that was the first thing that I thought of.

What error are you getting? Can you show your code?

[2018-11-08 03:19] tunnckoCore commented on #26
The easiest thing is through on submit to be implemented. But.. following example not works as we may expect ;d

[code]

In reality, there is no third argument `answers` passed to the submit; and `item.answers` is empty object, which is okey, but it seems that the final return from the `prompt()` call, the "answers" result is not affected, so not depends on this `item.answers`.

[2018-11-08 03:28] jonschlinkert opened #28 "deprecate v1 prompts"
In the coming days we will be deprecating, then archiving, all prompts that are published as separate modules and now ship with Enquirer as of v2.0.

[2018-11-08 03:29] tunnckoCore commented on #26
Above example is wrong but anyway.

I think https://github.com/enquirer/enquirer/blob/master/index.js#L125-L130 should return `prompt.state.answers`

[2018-11-08 03:33] tunnckoCore commented on #26
Yea, okey, this works

[code]

But sets both the dotted and not dotted one. Won't be a problem anyway.

[2018-11-08 03:39] tunnckoCore commented on #27
Exactly what I want. :D

When? On v1?

[2018-11-08 03:59] tunnckoCore commented on #26
Probably good idea would be to synchronize the signatures between

`on('submit')` and the `options.onSubmit`

Currently

[code]

and within `options.onSubmit()` is

[code]

[2018-11-08 15:57] tunnckoCore commented on #27
Not only that.

Lets say we have Snippet prompt with such template

[code]

I think we should support multiline body and multiline footer. It's some work with bypassing the submit.

But anyway, that may be too complex and not so needed.

Basic multiline prompt would be enough.

[2018-11-08 18:59] jonschlinkert commented on #27
It already does (or should). Have you looked through the examples?

[2018-11-08 19:29] doowb opened #30 "Feature request: Allow inserting user defined choices during a running prompt."
When a prompt like `select` or `multiselect` is running, allow the user to hit a key command that would let the user type in an additional choice.

The choice would be saved in a file that would be used the next time that prompt is used.

[2018-11-08 21:09] yeskunall opened #32 "How to use the given prompts?"
Thanks for such a dope product! 💖

I tried something like:

![image](https://user-images.githubusercontent.com/14703164/48227337-05537d00-e370-11e8-9b6c-fda65eb2e681.png)

... but I get this:

![image](https://user-images.githubusercontent.com/14703164/48227349-10a6a880-e370-11e8-8e7b-3beb3fe89bdb.png)

All your examples seem to pull in the prompts relatively, and so it works if I run the examples

[2018-11-08 23:36] doowb commented on #32
@yeskunall thanks for this issue! If you're trying to replace the `require` from the snippet example, then the constructor is called `Snippet` and it's on the main `Enquirer` constructor so you can do this:

[code]

However, the recommended way to use the prompts is through the `prompt` method from enquirer and specify the `type`. For instance, the [snippet example](./examples/snippet/prompt.js) w

[2018-11-09 02:40] jonschlinkert opened #33 "todo: recipes"
- [ ] Multilingual support - show how easy it is to add support for multiple languages.
- [ ] spinners and loading indicators
- [ ] asynchronously loaded choices
- [ ] chained prompts
- [ ] using prompts as choices

What other examples would you like to See?

[2018-11-09 06:07] jonschlinkert opened #34 "feature: additional choice "roles""
**What is a choice "role"?**

Currently, a `role` property may optionally be defined on choices to determine how a choice will be rendered in the terminal. When defined, this property also determines whether or not the choice can be focused or enabled ("checked"). As of this writing, the only `role` supported is `separator`.

**What other roles might be useful?**

It would be interesting to suppor

[2018-11-09 07:56] alekzonder opened #35 ""optoins" mistake"
@jonschlinkert ✋

https://github.com/enquirer/enquirer/blob/0473f2e63cbedf8034f06f46d6af26e4727b20e9/lib/prompts/survey.js#L8

and tests pass this

[2018-11-09 08:01] jonschlinkert commented on #35
yes, yes I did. I don't know how that got through without eslint throwing a fit. Thanks for the heads up!

[2018-11-09 08:05] #35 closed

[2018-11-09 08:05] jonschlinkert commented on #35
fixed! thanks again.

[2018-11-10 05:33] linkjay opened #37 "Question docked at bottom #2"
Now that it is released, I must ask again:

How exactly can I make a prompt that is sort of docked at the bottom? Mainly just want any of my output to go above the prompt.

[2018-11-10 15:57] g-plane commented on #25
I recommend to use VuePress to write the docs.

[2018-11-10 23:57] jonschlinkert commented on #25
Thanks for the comments. We want documentation to be complete first. At the moment, technical writing is what we need help with most.

[2018-11-11 02:15] g-plane opened #38 "TypeScript definitions"
It seems there aren't TypeScript definitions in this module.

[2018-11-11 03:05] jonschlinkert commented on #37
Can you point to an example of something similar? Even if it's not a prompt, just so I can visualize what you mean. Once I can see it in my mind, I can create it.

[2018-11-11 03:07] jonschlinkert commented on #27
@tunnckoCore can you provide an image of something similar? even if it's not a prompt, maybe a mockup or something that works similarly to what you want. I need to have a visual of what you mean.

[2018-11-11 08:15] jondot opened #39 "Real world benchmark: saving ~150ms for Hygen"
Hi all,
[Hygen](hygen.io) is next-gen code generation framework where one of the key principles is performance and developer experience.

Just wanted to FYI that in a real world replacement of inquirer with enquirer in [Hygen](hygen.io) (not pushed yet, but currently under testing) enquirer is winning ~150ms:

Before
[code]

After

[code]

[2018-11-11 08:18] jondot commented on #25
@jonschlinkert is enquirer direct swap for inquirer? so far i'm seeing that the answer is "Yes" but cannot see this documented anywhere -- and would be really worthwhile to document that.

[2018-11-11 09:44] jonschlinkert opened #40 "is enquirer direct swap for inquirer?"
_Originally posted by @jondot in https://github.com/enquirer/enquirer/issues/25#issuecomment-437651726_

[2018-11-11 09:54] jonschlinkert commented on #40
@jondot, it depends on how strictly you mean "direct swap". I'll rephrase in a couple ways.

**Can Enquirer do everything that Inquirer does?**

Yes, and more.

**Does Enquire have all of the same promps as Inquirer?**

No, Enquirer does no have the `expand` prompt. But this would be really easy to create as a custom prompt. I'd consider adding it if there is interest, but I couldn't really think

[2018-11-11 10:01] jonschlinkert commented on #40
Also forgot to mention, I think `choice` objects are a little different. As I recall, Inquirer supports `name` and `value` (name is displayed in the terminal, value is returned on answer).

Enquirer supports `name`, `value` and `message`.  This allows you to use `name` as the "key", `message` to display in the terminal, and `value` is returned in the answer.

[2018-11-11 10:15] g-plane commented on #40
I think we should add a "migration guide" to help who switches from Inquirer to Enquirer.

[2018-11-11 12:03] jondot commented on #40
Thanks all. Currently for the Hygen test suite swapping inquirer with enquirer was replacing just a single character, and all tests keep passing :)

After reading this there _may_ be other users out there already using more elaborate features of inquirer which will break once they hit the version that has the swap. In this case I'll have to introduce a 2.0.0 version and a breaking API alert (but I

[2018-11-11 12:34] jonschlinkert commented on #26
IMHO, you should set a custom `answers` object:

[code]

[2018-11-11 12:37] jonschlinkert commented on #26
@tunnckoCore please let me know if you find inconsistencies in the docs or examples. I worked on this for a long time, and I looked at the code so much that I probably overlooked obvious things in the docs.

[2018-11-11 13:13] jonschlinkert opened #42 "todo: consider combining scale prompts"
The following prompts are similar enough that we might be able to just combine them and allow the user to specify which format they want to display:

- https://github.com/enquirer/enquirer#multiscale-prompt
- https://github.com/enquirer/enquirer#survey-prompt

I created several other variants of these but I don't want to publish them until I figure this out.

[2018-11-11 16:36] doowb commented on #42
Are all of the variants similar enough that they can be represented as an options object that overrides styles and formatting?

If so, I think we could either publish the options objects or include them in `enquirer` and allow picking which one to use through an option. I'm leaning towards the latter since it makes it easier for users to use built-in types and it shows how easy it is to create cus

[2018-11-11 16:52] tunnckoCore commented on #27
Yes, try https://www.npmjs.com/package/co-prompt `multiline` prompt and you will see.
I think even Inquirer had such prompt, don't know what's so surprising :P

[2018-11-11 17:49] jonschlinkert opened #43 "windows tests"
We should get appveyor running, or another CI that supports Windows. PR would be appreciated. I can handle the auth etc.

[2018-11-11 17:50] #38 closed

[2018-11-11 17:58] jonschlinkert commented on #27
Oh, I see... A prompt that allows you to intentionally create newline breaks while typing, and only submits after two consecutive returns. Correct?

Yeah, we can do that.

[2018-11-11 18:15] jonschlinkert commented on #27
Done. It will be in the next release.

[2018-11-11 18:46] tunnckoCore commented on #27
Yea exactly. Great!

[2018-11-12 14:41] jonschlinkert commented on #40
@g-plane great! I'll review in more depth and add you to the org later today. A couple of things that I noticed:

- Enquirer's equivalent to the checkbox prompt is multiselect
- Enquirer's equivalent to the `pageSize` option is `limit`

[2018-11-12 14:42] g-plane commented on #40
Thanks! I will update the readme later.

[2018-11-12 17:29] jonschlinkert opened #50 "feature: options.term"
Change this line https://github.com/enquirer/enquirer/blob/master/lib/prompt.js#L34 to use `options.term` if defined, then fallback to `process.env`

[2018-11-13 03:47] kei0719 opened #51 "how to access to 'value' in choices?"
below snippet `select` method  is return  `choices.name` of value, but how can i access to `value` in choices?
[code]

[2018-11-13 09:35] jonschlinkert commented on #51
hi @kei0719, thanks for creating an issue.

I'll show a couple of ways to get the `value` from the selected choice. However, I think we need to make this easier. I'll start working on a better way to get these values.

**onSubmit**

Add an `onSubmit()` function to the question object. The last argument to this function is `prompt`, which is the instance of the prompt that was run for that "questio

[2018-11-13 11:14] g-plane commented on #40
I have released a new version of `enquirer-compat`, and now it supports the `pageSize` option and it can detect the `checkbox` prompt (convert it to `multiselect`).

[2018-11-13 12:02] kei0719 commented on #51
I did it what i wanted to do with your way. thanks @jonschlinkert

[2018-11-13 12:02] #51 closed

[2018-11-13 12:39] jonschlinkert commented on #40
@g-plane that's great! I looked over the package, nice work. however, my suggestion is that you only modify the "question" object and return that, so the user can still use Enquirer the same way.

For example, something like this:

[code]

Which can then be used like this:

[code]

The advantage of this is that you only need to update the options object.

[2018-11-13 12:41] jonschlinkert commented on #40
@g-plane sent you an invite. (you might get two, I accidentally invited you to this repo only first, then I revoked that and reinvited you to the org).

[2018-11-13 12:46] g-plane commented on #40
@jonschlinkert Thanks a lot! I have a question: does Enquirer support a feature like Inquirer that the `validate`, `result` and `format` function can receive the current answers object as a parameter?

[2018-11-13 12:57] g-plane commented on #40
Repo was transferred. One more thing, the main goal of `enquirer-compat` is to provide the same API of Inquirer, however I am considering exporting a function that people can use the function to convert the questions array, while keeping the same API which behaves like Inquirer.

[2018-11-13 15:02] puckey opened #52 "select: value is printed when picked instead of message"
I am using a select, with functions as values:

[code]

 I would expect the message to be printed after the user has picked a choice. Instead I see the function printed to console.

[2018-11-13 23:12] jonschlinkert commented on #52
Hi @puckey can you point out where you saw the documentation for how your values were defined so that I can get that fixed?

Did you try following the conventions shown in the readme, examples, or unit tests?

[2018-11-14 03:18] tunnckoCore opened #53 "options.initial returns undefined when defined as empty string"
Probably you should instead check of the existence of that property because currently, it sounds like it checks for falsey value.

[code]

[2018-11-14 03:20] tunnckoCore commented on #53
It can be fixed temporarily with `onSubmit`

[code]

[2018-11-14 03:58] tunnckoCore opened #54 "allow options.skip to be boolean"
Currently, it only can be a function. : )

[2018-11-14 13:12] c0ncentus opened #58 ""await" doesnt work"
I install with npm i enquirer (nodejs V8.12.0)

![image](https://user-images.githubusercontent.com/25374826/48484589-ceb9ae80-e816-11e8-850f-e5a65197c679.png)

i want to put this module in my project, its pretty nice !!! 👍

PS : With .ts i cant go very far so now i will use enquirer with .js 😭
Good luck 😃

[2018-11-14 13:41] aslafy-z commented on #33
I'd love to have a multi-select editable. This way I could select X tags from a list, and even add choices with some key (`+` for example) and automatically select it after all.

[2018-11-14 13:45] tiphedor commented on #58
You need to wrap you code inside an async function:
[code]

See: https://javascript.info/async-await

[2018-11-14 13:47] #58 closed

[2018-11-14 17:03] jonschlinkert commented on #52
Try using `name` instead of `message`.

I used the examples from the `examples` directory to create the examples in the readme.

[2018-11-14 17:05] jonschlinkert commented on #52
also see https://github.com/enquirer/enquirer/issues/51

[2018-11-14 17:43] #50 closed

[2018-11-14 17:44] #54 closed

[2018-11-14 20:49] puckey commented on #52
Thanks Jon!

[2018-11-14 20:49] #52 closed

[2018-11-15 08:08] jonschlinkert commented on #53
What do you mean "cannot be an empty string"? Are you getting an error? It works fine for me.

[2018-11-15 08:11] jonschlinkert commented on #37
I'm still struggling to visualize what you mean. It sounds like you want to dock a message at the bottom of the terminal for the duration of multiple prompts, not just during a single prompt. Is that correct?

[2018-11-15 08:31] jonschlinkert commented on #33
Hi @aslafy-z, I think your request is the same as https://github.com/enquirer/enquirer/issues/30.

[2018-11-15 08:59] jonschlinkert commented on #30
How's this?

![2018-11-15 03 58 29](https://user-images.githubusercontent.com/383994/48541543-d31faf00-e88a-11e8-9992-70fb2448748d.gif)

[2018-11-15 10:06] aslafy-z commented on #33
Thank you for pointing me to the right issue. I must have looked better. It looks great!

[2018-11-15 12:42] doowb commented on #30
That's awesome! I think this will also work for @aslafy-z's [request](https://github.com/enquirer/enquirer/issues/33#issuecomment-438665252).

[2018-11-15 13:30] tunnckoCore commented on #53
No. It sets it to `undefined` in the answers final result and in the `onSubmit` the `value` is `undefined` too.

[2018-11-15 13:44] #27 closed

[2018-11-15 17:31] jonschlinkert commented on #53
Got it, definitely a bug. Want to do a pr?

[2018-11-16 08:53] javoski opened #62 "Issue related to Windows mintty"
OS: Window 10
Terminal: mintty 2.9.4 along with Git

[code]

BTW: Examples in this repo are running normally, this issue only happened when used through `require('enquirer')`.

[2018-11-16 16:42] jonschlinkert commented on #62
Looks like `process.stdin` isn't a stream. I might need to get some help from someone with a Windows box to debug this.

[2018-11-17 00:38] linkjay commented on #37
Either. Generally like if you output anything on a prompt, it will not work correctly. The text will go into the prompt and under it and you can't type in it correctly after that.

I want to be able to take any sort of readline prompt and have any outputted text not interfere with the prompt.

Heres an example with enquirer 2.0.7.

https://i.linkjay.io/wbjhkD.png

As you can see, the prompt will m

[2018-11-17 01:24] vjpr opened #63 "SyntaxError: Invalid regular expression: /(?<!\\)\./: Invalid group"
[code]

Shows warning: https://regexr.com/439l8

Node v8.

[2018-11-17 01:39] vjpr commented on #13
I'm still seeing this.

[2018-11-17 02:01] vjpr opened #64 "How do I set a default selection in a multiselect?"
I tried `{enabled: true}` for a choice.

I also tried adding the keys to `Question.selected` and `Question.enabled`.

Couldn't figure it out.

[2018-11-17 02:02] vjpr opened #65 "Can I mix form input and multiselect?"
I want to be able to toggle boolean values, but then fill in form options. Is this possible?

[2018-11-17 02:49] doowb commented on #65
@vjpr I think [this editable example](https://github.com/enquirer/enquirer/blob/master/examples/editable/choices-nested.js) is similar to what you want. The difference is that the `heading` choices can't be toggled. If they could be toggled to enable/disable the form fields below the heading, is that what you'd like to do?

[2018-11-17 02:53] jonschlinkert commented on #65
Like this?

![editable-multiselect](https://user-images.githubusercontent.com/383994/48655799-e85f1f80-e9e9-11e8-98da-11f0e06c4935.gif)

This isn't documented or published yet, so I wouldn't recommend using it yet. I'm going to publish in the next day or two then I'll link to the example.

[2018-11-17 02:59] vjpr commented on #64
Ah, `initial` is what I was looking for.

[2018-11-17 03:03] vjpr commented on #65
I am looking for something like this:

[code]

The use case is creating a CLI tool to modify `.env` files. Currently I am using the Form, but if we know something is a Boolean I'd like to enforce it as a boolean.

[2018-11-17 03:05] vjpr commented on #13
I am running my app as a child process of another Node app using `spawn`. In the parent app, I am listening to SIGINT, and then forwarding the process kill command to the child. Maybe its is some interaction with that.

[2018-11-17 04:08] jonschlinkert commented on #64
thanks for letting us know, we'll get the docs updated with this.

[2018-11-17 04:11] jonschlinkert commented on #34
More ideas:

- `checkbox` or `option`
- `input`

[2018-11-17 07:09] jonschlinkert commented on #65
okay I played around with this and I was able to get it working the way you want, but it's more of a pain than it should be. I'm going to come up with ideas to make this easier. Any suggestions are welcome.

[2018-11-17 18:31] vjpr opened #66 "Allow initial to be editable"
When setting initial in a form, I want it to be as if it was entered by the user. That is, I can navigate using the cursor keys and edit just the part I want to edit.

At present, if you type, the initial value disappears completely. If you type the same letters though, it sticks around. So it seems like its behaving more like a hint. This is unexpected.

[2018-11-18 09:48] paidit-app opened #67 "Formatting result of autocomplete"
I have been trying to format the result of an **autocomplete** prompt, by adding the following function:
[code]
but it doesn't seem to change anything.

I tried searching for a related issue or read the source code, but all I found is it's possible to override the **format** function, which will give me the result I want, but mess with the input.
I am probably missing something, so I would really

[2018-11-18 17:29] jonschlinkert commented on #66
Great idea, I'll see if I can add support for this. thanks for the issue.

[2018-11-18 17:39] jonschlinkert commented on #66
I see what you mean now, I was thinking you meant something else. I can get this fixed.

[2018-11-18 18:29] datanotion commented on #63
Howdy!  I'm getting this same error and I'm using `8.9.4`

[code]

I also added the above in my package.json:

[code]

Anything else I should look at?

[2018-11-18 19:18] jonschlinkert commented on #63
Okay, now we have a bug.

No, I'll probably just remove the offending regex. Thanks for reporting.

[2018-11-18 21:53] jonschlinkert commented on #39
Related:

- https://github.com/SBoudrias/Inquirer.js/issues/682
- https://github.com/enquirer/enquirer/issues/22

[2018-11-19 08:10] paidit-app commented on #67
Oh cool, thanks. Looking forward to the new version :)

[2018-11-20 08:20] IniZio opened #68 "Invalid `process.stdin` stream when test with Ava"
I am moving from prompts to enquirer. Previously with prompts I can use `.inject` to replace user input, but I don't see such method on enquirer.

This seems to become a problem with Ava because Ava runs tests in parallel, so when I try to run test with enquirer as follows:

[code]
It will return error `Error: Invalid stream passed`

[2018-11-20 16:53] mikeerickson opened #69 "feat: multiselect similar to vue-cli"
I am curious if the `multiselect` type has ability to use an interface like vue-cli and other various cli tools

![image](https://user-images.githubusercontent.com/183153/48789346-aeb83e00-eca1-11e8-88d6-2d45e13fb91a.png)

[2018-11-20 17:33] doowb commented on #69
Yes, I added [this example](https://github.com/enquirer/enquirer/blob/master/examples/multiselect/option-pointer-indicator.js) showing how to make the `multiselect` look like that:

![image](https://user-images.githubusercontent.com/995160/48791660-36ad4080-ecc0-11e8-9555-e11ada27cd52.png)

[code]

[2018-11-20 18:43] mikeerickson commented on #69
awesome, thanks!

[2018-11-20 18:52] mikeerickson commented on #69
works like a charm, thank you very much ;-)

[2018-11-20 18:52] #69 closed

[2018-11-20 19:01] doowb commented on #69
No problem. I'm glad that's what you were looking for!

[2018-11-21 15:24] erhu opened #70 "How do recursive calls work?"
Why this recursive call loot_root() can't work?
[code]

[2018-11-21 16:55] doowb commented on #70
Since the internal state of the prompt has already be updated from the first run, calling `.run` again will cause the prompt to return early since it is already "closed".

There is a static method called [prompt](https://github.com/enquirer/enquirer#prompt) that you could use and set the `type` to `'autocomplete'` as specified in the documentation. Also, each prompt is on the `Enquirer` object as

[2018-11-23 01:17] renarsvilnis opened #71 "Select prompt doesn't use initial value from function"
When the initial value of a select prompt is a function, the returned value isn't used. But validated that the `initial` function gets called.

`enquirer 2.0.7`

**Not working:**

[code]

**Working:**

[code]

[2018-11-23 21:56] mikeerickson opened #72 "Question: Sub multiselet"
I am curious, does this package support something like a `sub multi select`

[code]

Then, if both of `subchoice` is selected, then parent choice would be selected, otherwise, it would be like an indeterminate list?

[2018-11-24 03:45] g-plane opened #74 "Disable AppVeyor"
Now we are using Travis CI to test the code on Windows, so there is no need to use AppVeyor. And the config file of AppVeyor was deleted, so the CI will fail.

[2018-11-24 07:44] g-plane commented on #25
Maybe we can create a new repository as `enquirer/enquirer.github.io`, then we can put the documentation in it. Also, we can register a domain `enquirer.js.org`. (It's free!)

[2018-11-24 08:46] jonschlinkert commented on #74
Done, this project was deleted from appveyor.

[2018-11-24 08:46] #74 closed

[2018-11-24 08:53] jonschlinkert commented on #72
yes!  Like this?

![multiselect-choices](https://user-images.githubusercontent.com/383994/48966280-6ac48200-ef9c-11e8-8c6c-fbcb4591a929.gif)

Try the following example:

[code]

[2018-11-24 08:54] jonschlinkert commented on #71
Thanks for creating an issue to let us know! Marking as a bug.

[2018-11-24 09:00] jonschlinkert commented on #68
That's great! Sorry for the late reply, I was on holiday for Thanksgiving.

I'm not familiar with Ava, but I think we can get this figured out. First, can you share more details about how you're initializing Enquirer?

In the meantime, try instantiating Enquirer with an `answers` object:

[code]

If the values you want to use are on the `answers` object provided to the constructor (even if the val

[2018-11-24 09:03] jonschlinkert commented on #25
@g-plane I haven't decided yet where we're going to put the docs. We might do what you're suggesting. First I want to get the markdown documentation finished since that doesn't require a website and (IMHO) it's easier to just focus on content until it's complete.

I already have `enquirer.io` :) we'll be using that. Good idea though!

[2018-11-24 12:34] IniZio commented on #68
Hi, really grateful to receive your reply :smile: ,

Currently It seems like `process.stdin` passed in to Enquirer is incorrect. The error stack is as follows:

[code]
It is also pushed to https://github.com/clippedjs/clipped/tree/enquirer, running `yarn && lerna run test` will run the test cases.

[2018-11-24 15:54] jonschlinkert commented on #68
@IniZio can you point me to the place in the code where Enquirer is required in and/or added to the `clipped` instance? I can't find it.

[2018-11-24 16:34] mikeerickson commented on #72
You da man!!!

[2018-11-24 16:46] jonschlinkert commented on #72
should we close?

[2018-11-24 16:51] mikeerickson commented on #72
Close indeed 🚪

[2018-11-24 16:51] #72 closed

[2018-11-25 03:17] IniZio commented on #68
This is where Enquirer is assigned to `clipped` https://github.com/clippedjs/clipped/blob/enquirer/packages/clipped/src/instance/helper.ts#L123

And this is the test case: https://github.com/clippedjs/clipped/blob/enquirer/packages/clipped/test/helper.test.ts#L55-L66

[2018-11-27 21:12] jonschlinkert commented on #22
Hi @paulirish, I'm just using [this fork](https://github.com/jonschlinkert/time-require) of [time-require](https://www.npmjs.com/package/time-require).

[2018-11-27 21:22] whitecolor opened #75 "Periodic (streamed) updates of the sugestions"
Is it difficult to make source not promise (single resolve) but stream-like, that would allow periodical update of the suggestions without user input?

[2018-11-27 21:23] jonschlinkert commented on #75
This is possible currently. Can you provide an example of what you want to accomplish?

[2018-11-27 21:39] whitecolor commented on #75
Well, I have autocomplete list, that may (should) be updated while a user is looking at suggestions and choosing because things change =)

Didn't get from docs how to make it if it is possible.

[2018-11-28 03:00] #71 closed

[2018-11-28 06:32] nahtnam commented on #13
I am having a similar issue. I can provide an example if no one else is able to reproduce it.

[2018-11-28 07:01] jonschlinkert commented on #13
That would be great, any additional info will help. Thanks!

[2018-11-28 07:03] nahtnam commented on #13
@jonschlinkert Excuse the mess, I just extracted this from my project. Select "client" and then press `ctrl + c`.

[code]

[2018-11-28 22:54] renarsvilnis commented on #66
Hi @jonschlinkert , I'm also very interested in this feature.

The boolean idea seems fine. But what would happen if the input was "cleared"?

[2018-11-28 23:25] renarsvilnis opened #78 "Confirm prompt initial not supporting functions"
Hi,
found out that confirm promt and all "boolean" type prompts doesn't support intial values as functions or async functions.

[code]

Also another related feature request. I'm rewriting a cli app from inquirer to enquirer and noticed a feature missing. Could initial function recieve answers or some kind of context from previous questions? Similar as [`when`](https://github.com/SBoudrias/Inquirer

[2018-11-29 09:15] #53 closed

[2018-11-29 09:21] jonschlinkert commented on #78
Closing I think this was fixed in v2.0.9. However if you're still having problems with this please reopen so we can get it fixed. Thanks for creating an issue!

[2018-11-29 09:21] #78 closed

[2018-11-29 09:23] jonschlinkert commented on #75
When you say "because things change", do you mean you are dynamically getting choices from another source? If so, is it async? Sync?

Or are do you just want to filter choices like the example on the readme?

The are a number of [autocomplete examples](https://github.com/enquirer/enquirer/tree/master/examples/autocomplete) as well.

[2018-11-29 15:21] AlCalzone opened #80 "Add the possibility to localize confirm prompts"
Confirm prompts are hardcoded to use <kbd>y</kbd> and <kbd>n</kbd>. In order to localize them, it would be nice if we could configure which keys result in `true` and which result in `false`.

[2018-11-29 15:44] AlCalzone commented on #80
I'll try that out, thanks. I just found https://github.com/enquirer/enquirer/blob/master/lib/prompts/confirm.js and figured that the keys are hardcoded. Seems I got to take a look at the examples.

[2018-11-29 16:06] jonschlinkert commented on #80
Almost everything in Enquirer can be customized or overridden. You can also update the `default` value (the "hint" that looks like this: `(Y/n)`) using similar logic to what I did in the last example:

[code]

[2018-11-29 16:34] AlCalzone commented on #80
I'm getting there, but not quite yet. I defined a function to wrap my questions, because extending existing classes resulted in some errors regarding `new`:
[code]

The CLI now shows `"Wirklich? (y/N)"` and switches to `"Wirklich? (j/N)"` **after** I make my choice.

[2018-11-29 20:13] jonschlinkert commented on #67
@paidit-app please try installing the latest version and see if that fixes your problem. Sorry this took so long!

[2018-11-29 20:15] jonschlinkert commented on #75
@whitecolor got it. Take a look at [this unit test](https://github.com/enquirer/enquirer/blob/master/test/prompt.autocomplete.js#L405). Let me know if that works for you, or if you need something different.

[2018-11-29 23:14] mikeerickson opened #81 "How can I remove the underline"
Hey there

I am curious, is it possible to remove the underline for the current item in `multiselect`

![image](https://user-images.githubusercontent.com/183153/49258144-47a93080-f3e9-11e8-9884-b92f4cc21346.png)

I assume it will be here, but I dont see where the underline is set (maybe it is default_

[code]

[2018-11-30 00:04] doowb commented on #81
@mikeerickson there is a [style called heading](https://github.com/enquirer/enquirer/blob/9687a592e3b9465984c147bd5ac849a3444efe57/lib/styles.js#L42-L44) that you can override using the options like this:

[code]

The default for `heading` is `this.primary.underline(msg)`, so this is just removing the `underline`.

BTW... the part that you're referencing is the `indicator` which are the circles in

[2018-11-30 00:13] mikeerickson commented on #81
@doowb Ya, I was mistaken about `indicator`  Thanks for the information above, I had found it in the source code where this is set and was in the process of tracking down the heading information you referenced above.

In the `lib/styles.js` file

[code]

[2018-11-30 00:15] mikeerickson commented on #81
@doowb Now I will try and figure out how these values can be changed in the API. I am sure there is a way, just need to track it down.

[2018-11-30 00:17] mikeerickson commented on #81
@jonschlinkert Is this something that can be changed?

[2018-11-30 00:44] doowb commented on #81
Do you mean when you extend a class?

[2018-11-30 00:52] mikeerickson commented on #81
@doowb No, I am referring to changing from the API (if possible).  I have temporarily changed the source, but that is not an ample long term solution, as it will only survive until next update before I have to reapply.

[2018-11-30 00:53] mikeerickson commented on #81
I am thinking it would be configured here

![image](https://user-images.githubusercontent.com/183153/49261496-5860a300-f3f7-11e8-910f-5b41b6138e72.png)

[2018-11-30 01:13] doowb commented on #81
Oh, I might have been clear... the snippet that I put above is what you would put right there to override the header style:

[code]

[2018-11-30 01:15] mikeerickson commented on #81
@doowb Ah, excellent. I thought you were referring to where it was located in the source code.  I applied what you outlined above and it works like a charm

[2018-11-30 01:45] doowb commented on #81
Awesome! I'm glad it's working 😄

[2018-11-30 01:45] #81 closed

[2018-11-30 07:03] jonschlinkert commented on #81
Or you can just do:

[code]

[2018-11-30 08:20] IniZio commented on #68
Many thanks for your help, since it is probably not a problem with Enquirer I will close this issue. Will post the answer here though if i do find it.

Thanks again for this awesome library you made :smile:

[2018-11-30 08:20] #68 closed

[2018-11-30 08:50] jonschlinkert commented on #75
Seems like you're overcomplicating this. I get the use case, all you need to do is re-render when choices are updated. You can use streams, promised, or whatever you want, it's no different. You are unnecessarily coupling the prompt's behavior to streams.

[2018-11-30 16:17] jonschlinkert commented on #75
The `prompt.render()` method re-renders the prompt.

Maybe we can come up with an example. If you can give me more detail about the data I can try to put a demo together.

[2018-11-30 16:50] whitecolor commented on #75
Well it is simple, just say you have inital resolved choices list `a b c d`, and in 5 seconds without user input/action the should become say `A b C d`, in another 5 sec `A B C D`, something like that. Nothing special.

[2018-12-02 13:50] jonschlinkert commented on #80
That's a bug. I'll get it fixed and push up a patch. I'll also make sure it's easier to define that value properly on the options. Thanks for working through this with me.

[2018-12-03 02:48] doowb commented on #75
@whitecolor here's an example of how a stream can be used in the `suggest` method. I've mocked out a Search API that returns a "stream like" object (it has a `data` and `end` event that gets emitted). When new data arrives, a cached list of results is updated and turned into choices, then the prompt is re-rendered with the updated information. In this example, the search api is able to "cancel" th

[2018-12-03 08:06] AlCalzone opened #83 "Consider exposing the typings for survey options"
In your declaration file, only `Enquirer` is currently exported. This leads to some nasty constructs when one wants to use any of the `PromptOption` types from a consuming library. For example:

https://github.com/AlCalzone/create-adapter/blob/579ec9ea31137a3c4bbe1b7f7a802ae6db8ce3f7/src/lib/questions.ts#L7
[code]

I think it would go a long way if these option types were exported aswell.

[2018-12-03 12:43] kamontat commented on #83
I just create new `d.ts` files (#82), Let see, Will be someone who can review (fix) and approve the code.

[2018-12-04 15:09] whitecolor opened #84 "Allow select on enter in multiselect (if nothing checked)"
Currently in `multiselect` if nothing is checked you stay on some option and press enter result is an empty list. It would be good to have an option for prompt so that pressing enter on the element if nothing else checked would select it.

This was a behavior in `inquirer` I used to. And it is quite convenient when you want to treat multiselect as a usual list but with multi-select option.

I mean

[2018-12-06 11:46] paidit-app commented on #67
We just upgraded to the new version and everything seems to work very well. Thank you!

[2018-12-06 11:46] #67 closed

[2018-12-06 13:55] AlCalzone opened #85 "Feature request: Pre-/Post-validate transforms"
As I figured out from looking at the code, the user input goes through the following stages:

* `validate` - tests if the input is valid
* `format` - formats the input before writing it to the console
* `result` - formats the input again before saving it in the results

For a project of mine, it would be nice if it was possible to transform the input before validation occurs. E.g. remove some part

[2018-12-06 16:57] mikeerickson opened #86 "What does `value` properties provide in multiselect"
I am trying to figure out what the `value` property provides when multiselect prompt?

[code]
When I make the selection, it returns an array of `answers` which contains the entries from `name` property.

[2018-12-06 17:08] jonschlinkert commented on #86
`value` is an optional field, you can omit that field if you're not using it.  You can also change the result by defining a `result()` function on the options.

Also, there are several other types of array prompts, and the conventions for the choice objects were designed to cover a number of use cases.

[2018-12-06 17:46] mikeerickson commented on #86
Am I correct in assuming that the `value` field is not used for `multiselect` type and that the answers array will always contain the data in the `name` field?

[2018-12-06 19:40] jonschlinkert commented on #85
I went back and forth on this. What if we added support for `transform` to do what you're suggesting?

Lots of documentation is on the way! I've spent many hours on Enquirer docs over the past couple of weeks!

[2018-12-06 19:42] jonschlinkert commented on #86
I think you're correct, it's not used by default. I'm pretty sure it was used initially and we changed it to return `name` instead since that allows you to easily get the values. However, if we return `value`, it's slightly more tedious to get the names.

[2018-12-06 19:47] jonschlinkert commented on #84
IMHO, if a choice isn't checked the user would be surprised at the outcome you're describing. But I also think that you ought to be able to do this if it's what you need. You might be able to do this through options/events or overriding prompt methods... I'll play around with the code and see how hard it is, or if we need to make this easier to do.

In the meantime, wouldn't the `initial` option a

[2018-12-06 20:30] mikeerickson commented on #86
Works for me, just making sure.

[2018-12-06 20:30] #86 closed

[2018-12-06 21:40] whitecolor commented on #84
Initial probably won't work, I want just to go to need item and press just `enter` to choose it, not `space + enter`.

[2018-12-07 01:17] mikeerickson commented on #84
I can see the desire for this as well, I have hit this issue many times today when testing my multi select.  If not selecting the highlighted item, how about not allowing enter to “close” list if at least one item has not been selected

[2018-12-07 14:47] jonschlinkert commented on #85
Actually, couldn't you just accomplish what you need by calling the `result()` function inside the validate function? Or by using other logic in the validate function that accomplishes the same goal?

[2018-12-07 23:34] AlCalzone commented on #85
But that doesn't change the input value outside of the validate method, or does it?

[2018-12-08 02:06] mikeerickson commented on #84
In my case, I want user to be able to select one or more items.  But, your statement about controlling via `validate` will suffice for my use case.

[2018-12-08 10:44] whitecolor commented on #84
I believe using `validate` would work.

[2018-12-10 03:32] jonschlinkert commented on #84
Okay, I'll still keep this open to solicit more feedback, in case someone has an idea on how to do this more idiomatically.

[2018-12-10 03:34] jonschlinkert commented on #85
Meaning a `transform` function? I'm open to it if that's what you meant.

[2018-12-10 10:32] AlCalzone commented on #85
Yes 🙂

[2018-12-10 19:46] amwmedia commented on #17
@doowb any chance you have an example of doing this somewhere stashed away on your hard-drive? 😉

[2018-12-10 19:59] doowb commented on #17
Lol... not exactly. I used [this carlo example](https://github.com/GoogleChromeLabs/carlo/tree/master/examples/terminal) which runs the xterm emulator in the browser.

We have made Enquirer a lost customizable and decoupled action logic and updates to the state from the rendering and writing to the output stream, so it may be possible to override some methods to make it usable in a browser, but I

[2018-12-11 10:49] sebald opened #87 "Editor Prompt"
Hey! Is there any plan to implement an `EditorPrompt` like: https://github.com/SBoudrias/Inquirer.js/blob/master/packages/inquirer/lib/prompts/editor.js

Or does anyone have written that prompt already? Just wanted to ask before I am trying to roll my own 😄

[2018-12-11 10:50] sebald commented on #87
Never mind ... 🤦‍♂️

https://github.com/enquirer/prompt-editor

[2018-12-11 10:50] #87 closed

[2018-12-12 02:40] pixelass commented on #25
@jonschlinkert 	If you are interested in guides similar to this: https://stickyroll.github.io/react-stickyroll/doc/guide/configue-stickyroll/Readme.html?guides-enabled=true

I'd love to help writing these guides. It should be basic markdown so it can then be used in whatever tool to display it nicely.

[2018-12-12 04:39] jonschlinkert commented on #25
Yes that would be great! Any help would be appreciated!

[2018-12-12 04:42] pixelass commented on #25
I'll see if I can whip up an example. No promises, gotta study the new API first.

[2018-12-12 19:51] alcuadrado commented on #80
I couldn't find a way to localize the initial value formatting either. My prompt looks like this:

```? Message (Y/n) › true```

Displaying `true` instead of `Y` is confusing.

[2018-12-12 22:57] whitecolor opened #88 "Autocomplete visual bug (WSL windows 10)"
In Bash (wsl) on windows 10 this is what I see dealing with autocomplete, results merge/double in the line, not sure how to put it into words:

![enquirer visual bug](https://user-images.githubusercontent.com/736697/49903938-79f76b00-fe8a-11e8-9123-a76227941142.gif)

[2018-12-13 11:42] jonschlinkert commented on #88
Strange bug. I wonder what's triggering that.

Is one of the lines longer than the terminal width? I have a hunch on a solution...

[2018-12-13 12:12] jonschlinkert commented on #25
@pixelass that's great! I love it! Thank you!

[2018-12-13 12:19] pixelass commented on #25
@jonschlinkert 	Glad to hear. I can continue in this manner (starting with forms since I'm currently using it in a setup).

I will probably run into issues and my guides will require a good review to ensure the validity (haven't used this in a while) but these guides are small enough to review on the go and write during small breaks (Hoping to eventually encourage more contributors to the docs). I

[2018-12-13 15:35] jonschlinkert commented on #88
Thanks for the feedback. If I'm correct, this is a bug in the `placeholder()` function, and I think I already fixed this locally. I'll test on a Windows box and get the fix pushed up asap. Thanks for creating the issue!

[2018-12-13 15:57] jonschlinkert commented on #25
Great! FWIW all of the examples in the examples folder are for the current version of Enquirer. If you find one that is broken, please feel free to just create an issue instead of trying to fix it, or handle it however you prefer.

I also have some higher level docs created locally, for things like styling. If you want to do a PR with you docs first, I can merge those in before pushing up my chang

[2018-12-13 16:43] pixelass commented on #25
@jonschlinkert 	I know that the example for form uses the old API: https://github.com/enquirer/enquirer/blob/master/examples/form/prompt.js

[code]

as do some others (probably all those that used to have named exports).

[2018-12-13 18:52] jonschlinkert commented on #25
I’m not sure what you mean. That API is current. (Also, the Form prompt was created for Enquirer v2.0, so it couldn’t have been used that way before). Each prompt is set as a static method on Enquirer, in case you need access to a prompt instance.

Sent from my iPhone

[2018-12-13 19:01] jonschlinkert commented on #25
In case it helps:

- [here](https://github.com/enquirer/enquirer/blob/master/index.js#L239) is where each prompt class is added as a static method.

[code]

- and [here](https://github.com/enquirer/enquirer/blob/master/index.js#L236) the prompt instances are made available as static methods

[code]

[2018-12-13 21:19] doowb commented on #25
Someone read what I wrote!!! 😀

I said it was recommended because, at the time, all of the examples in the README used the `prompt` method and we haven't gotten to documenting that the built-in prompt classes are exposed as static properties yet.

There's PR #82 open right now that might address those.

[2018-12-13 21:58] jonschlinkert commented on #25
@pixelass your guide is awesome, I'm appreciative that you're helping. @doowb and I are of course happy to do editorial stuff like fixing typos or variables/references if we find any that are wrong. Don't worry too much about that.

[2018-12-13 22:09] pixelass commented on #25
@doowb 	thx for the info. That explains the misunderstanding.

@jonschlinkert 	You're right, I'm not worried, I just want to get a few things straight. (Would hate to have to modify guides later).

My questions were answered. I'll continue and send in PRs as smaller batches.

[2018-12-13 22:24] kamontat opened #89 "Can you make toggle prompt"
Like this ?

https://github.com/terkelg/prompts#togglemessage-initial-active-inactive

[2018-12-13 22:33] jonschlinkert commented on #89
Yeah, that should be easy to do. I'll create an example and post it here in a bit.

[2018-12-13 23:52] whitecolor opened #90 "Allow `value` be any type"
It seems that choice's `value` is not designed to be any type.

At least when choice's `value` field is set to `false`, it is replaced with the `name` val in normalized choice object, but if it is set to `true` then `true` is in the "normalized" choice object.

TS typings should be modified too.

[2018-12-15 19:49] mikeerickson opened #91 "Confirm prompt with initial value always returns true"
I am using the example from

https://github.com/enquirer/enquirer/blob/master/examples/confirm/option-initial-true.js

when executing, it always returns `true` in the answer resolve?  Can someone please run a quick test and see if they receive actual negative value.

Note:  If I run without an inital value, the response is correct (but it defaults to false, I need it to default to true, hence the

[2018-12-15 19:53] jonschlinkert commented on #91
I can confirm that this was happening, and I thought I pushed up a fix! Apparently, I didn't! Thanks for creating the issue, I'll get this, and a few other patches, pushed up ASAP!

[2018-12-15 20:46] mikeerickson commented on #91
@jonschlinkert Awesome, thanks a bunch.  please let me know when it has been pushed so I can update.

[2018-12-15 21:45] jonschlinkert commented on #91
While I'm working on the confirm prompt, is there anything else you can think of that we should consider doing (without breaking changes, so I can get it finished quickly) to improve it?

[2018-12-15 22:07] jonschlinkert commented on #80
@alcuadrado you should be able to customize that pretty easily using `format()` on the options (question object).

[code]

You conditionally style the value as well (`this.styles` is an object with a handful of semantically named styles, to allow you to easily override colors and keep a consistent palette throughout the prompt):

[code]

Working on a fix for this now. Any special requests? If you

[2018-12-15 22:14] jonschlinkert commented on #13
@nahtnam thanks so much for the detail! I'm sorry I didn't see your reply until now.

I'll spend some time reviewing to see if I can wrap my brain around this. Thanks again.

[2018-12-15 22:34] mikeerickson opened #92 "Confusion with MultiSelect"
I am using the following code snippet to display a multiselect list.  I only want to allow one item to be selected, so I set the `limit` property to 1 (assuming that is the correct choice).  However, doing this, it only displays one of the `choices`

I would like to display all choices, but only allow user to select one of them

[code]

[2018-12-15 22:35] mikeerickson commented on #91
@jonschlinkert The only other issue I have run into thus far, is the following

https://github.com/enquirer/enquirer/issues/92

[2018-12-15 22:38] jonschlinkert commented on #92
How about if we add support for `maxSelected`? I don't think that would even be a breaking change.

(fwiw I'm going to delete the cross reference you did on the other issue, so that it keeps the issues cleaner for anyone who looks for these answers in the future. no big deal, just wanted to mention it).

[2018-12-15 22:46] mikeerickson commented on #92
`maxSelected` works for me and agree that it would be a clean implementation. I figured I could do validation on event, but having it as part of API is indeed best

[2018-12-15 23:01] jonschlinkert commented on #92
Done! Here is a quick and dirty example. I added a `format()` function just to show how you can provide additional information to the user if you wish.

![multiselect-option-maxselected](https://user-images.githubusercontent.com/383994/50048178-4d626f80-0093-11e9-9597-adc6f4c6a906.gif)

Doing unit tests now.

[2018-12-15 23:05] jonschlinkert commented on #92
btw, have you used the `fn+up`/`fn+down` combos with any of the choices prompts yet? (pageUp/pageDown on windows). I don't think it's well documented but thought you might find it handy.

[2018-12-16 00:55] mikeerickson opened #93 "Brainstorm: Strategy for show series of prompts"
Curious what you all have done to display a series of prompts.  My current interface is to show each prompt in an `async` function.   Basically, a series of synchronous calls is really what I need to implement.

[code]

[2018-12-16 00:58] nahtnam commented on #13
Hello!

Thanks for taking a look, it makes sense now. I think the opposite would be a better idea. Most people expect the program to quit after you press `ctrl + c`, but there are definitely applications where you wouldn't want to be allowed to quit. I think it would be better if by default it quit, and you can add a hook to do something else on `ctrl + c`. However, if it is changed, I think you s

[2018-12-16 01:00] jonschlinkert commented on #93
There are several approaches you can take depending on preferences and what you need. Before I recommend something, are you able to show more of your code? Ideally a link to your code so I can see how you want to define everything, or just paste some code here or show a longer example to help me understand what you want to achieve.

[2018-12-16 01:16] mikeerickson commented on #93
I will post something later this evening or tomorrow, away from computer now (wife home from work so ...) 🤓

[2018-12-16 02:12] #89 closed

[2018-12-16 02:12] #90 closed

[2018-12-16 02:12] #91 closed

[2018-12-16 02:12] #92 closed

[2018-12-16 03:48] mikeerickson commented on #93
@jonschlinkert Here is a [quick](https://github.com/mikeerickson/equirer-sample) and dirty repo of what I am trying to accomplish as best possible.  This version is just using standard Promises out of the box.   I have also constructed something using `Async/Await` in the real application, but the requirements are the same.

https://github.com/mikeerickson/equirer-sample

[2018-12-16 03:50] mikeerickson commented on #92
@jonschlinkert Thanks for the update, I have applied it in my app and all is well in the world 👍

[2018-12-16 09:20] hipstersmoothie opened #94 "Series of Prompts and ctrl + c"
I currently have a series of prompts that ask the user if they want to run more prompts. So something like:

[code]

if a user presses ctrl+c during on prompt it just goes to the next one. I've tried catching or seeing if enquirer returns something when this happens but I can't find anything.

It would be awesome if enquirer returned something in this case so I can exit the overall script.

[code]

[2018-12-16 16:38] jonschlinkert commented on #13
I think this makes sense. I'll get a patch pushed up soon.

[2018-12-16 16:40] jonschlinkert commented on #94
I think this is a duplicate of https://github.com/enquirer/enquirer/issues/13.

For the short-term fix, see https://github.com/enquirer/enquirer/issues/13#issuecomment-447602031. I'll be pushing up a patch to make this work as expected.

[2018-12-16 16:53] jonschlinkert commented on #93
@mikeerickson, the way the prompts are defined currently, they will all try to run simultaneously, not in series. To get those to work the way you want (without overlapping each other), here are some approaches you can take:

## 1. Use `{ prompt }`

Re-write the questions to use enquirer's static `prompt` method. This takes an array of "questions" (or a single question), and it does what I think y

[2018-12-16 18:38] mikeerickson commented on #93
@jonschlinkert Thanks for the recommendations.  I can see what you are saying, this is clear enough for my implementation needs.  I will give it  a whirl and let you know if I have any issues.

[2018-12-16 19:45] nahtnam commented on #13
Sounds good, thank you!

[2018-12-16 19:47] mikeerickson commented on #13
This is proof that @jonschlinkert and @doowb have put a lot of thought into making this a great tool for CLI developers.  And the customer service is top notch

[2018-12-16 19:48] nahtnam commented on #13
Haha, I agree! I wouldn't call it customer service though, maybe community service instead.

[2018-12-16 20:06] mikeerickson commented on #93
@jonschlinkert works like a charm!  I went with the array of questions as you suggested and it will do EXACTLY what I want.   And, I learned a couple things along the way.

[code]

![image](https://user-images.githubusercontent.com/183153/50058278-d8db0f80-012a-11e9-8665-fd067a612654.png)

[2018-12-16 20:07] #93 closed

[2018-12-16 20:09] jonschlinkert commented on #88
@whitecolor would it be possible for you to provide an array of choice objects that I can use to try to debug this?

[2018-12-16 21:36] hipstersmoothie commented on #94
@jonschlinkert Is the following supposed to work right now? Or is it a part of the patch?

[code]

I tried adding it to my application and it did not seem to fire. I added these lines of line 10 in this file https://github.com/intuit/auto-release/blob/master/src/init.ts

[2018-12-16 21:39] hipstersmoothie commented on #94
Currently a user has to hit ctrl+c 4 times to exit the 4 prompts that run

<img width="1029" alt="screen shot 2018-12-16 at 1 39 01 pm" src="https://user-images.githubusercontent.com/1192452/50059158-0e3a2a00-0138-11e9-9ffe-6ceec8db9e7d.png">

[2018-12-16 22:38] mikeerickson commented on #81
@jonschlinkert and @doowb  It seems this has stopped working with the recent 2.2.0 update?

Here is my code

[code]

Here is how it displays (notice, the highlighted item still has underline)

![image](https://user-images.githubusercontent.com/183153/50059784-29a93300-0140-11e9-9ce3-a2bef8921fdb.png)

If you want me to create a new issue, I can do that but figured I would just comment here first

[2018-12-16 23:36] jonschlinkert commented on #94
Hmm, it should work.

That would be annoying.

I'll push up a patch this evening to make it cancel all prompts by default. I think it's pretty clear that most users would expect that.

[2018-12-16 23:38] jonschlinkert commented on #88
Got it, I'll take a look and see if I can figure out what's causing it. thanks for clarifying.

[2018-12-17 03:27] paulsevere opened #95 "Missing limit field in ArrayPromptOptions interface declaration"
It looks like the ArrayPromptOptions interface declaration is missing the limit property:

[code]
This is also somewhat confusing in documentation:
Limit is listed as an instance property for Array Prompts but is excluded from the list of options that may be passed to Array Prompts.

[2018-12-17 03:44] paulsevere commented on #95
Im not sure if the changes to the type definitions address this issue, so I've created a PR that adds the limit property to the array prompt options interface definition #96.

[2018-12-17 14:17] jonschlinkert commented on #94
@hipstersmoothie I fixed this last night but got too tired to wrap everything up. I'll try to do this today.

[2018-12-17 16:32] mikeerickson opened #97 "Removing underline no longer working..."
I originally raised this question here https://github.com/enquirer/enquirer/issues/81 and @doowb supplied a working solution.  However, that solution is no longer working (I feel it "broke" with the 2.2.0 release.

Could you please have a quick look at the code I supplied in the OP and see if you can reproduce.

[2018-12-17 18:09] doowb commented on #97
@mikeerickson use `em` now instead of `heading`. `heading` doesn't really describe what the style was doing so it was changed to `em`:

[code]

We'll try to make sure these are described in the docs.

[2018-12-17 18:13] mikeerickson commented on #97
Awesome thx 🤓

[2018-12-17 18:13] #97 closed

[2018-12-17 21:03] jonschlinkert commented on #97
I just saw this! fwiw this was unintentionally committed by me. The `.heading()` method didn't seem to make any sense at all, as it's not semantic, so I played around with using `.em()`. My intention was to commit that in the 3.0 release, but clearly I accidentally forgot to remove it before pushing up 2.2. This was a breaking change and should not have been committed, but at this point, I think i

[2018-12-17 22:44] mikeerickson commented on #97
No worries, I am still in development mode so the impact for me was beyond small, just a cosmetic break 🤓

[2018-12-18 01:57] mikeerickson commented on #25
Hey gang, if you need any additional resources, I would be happy to help.

[2018-12-18 02:51] pixelass commented on #25
@mikeerickson 	look at PR #99 This is probably what we'll be going for.

Since the docs are already split into sections you could just follow the examples and add a new folder (prevents conflicts before the fist merge).

I added some tools for screencasts (asciicast) which need to be integrated in a better way (I'm thinking gh-pages file hosting https://enquirer.github.io/media).

@jonschlinkert

[2018-12-18 03:02] mikeerickson commented on #25
@pixelass I will have a look at this in the morning

[2018-12-18 06:15] hipstersmoothie commented on #94
No rush! Thanks for the awesome code ❤️

[2018-12-18 21:48] jonschlinkert commented on #25
Yeah, I think we touched on this somewhere else, maybe another issue. Just for now I'd like to keep everything together. Once the markdown docs are more comprehensive and we start designing the site, we might switch to another repo.

[2018-12-18 21:50] jonschlinkert commented on #25
Any additional help would be awesome!

[2018-12-18 21:53] pixelass commented on #25
My new PR already accounts for this. I agree that the focus right now is getting more docs written.

[2018-12-28 03:40] jonschlinkert commented on #75
@doowb, want to add this as a recipe?

@whitecolor were you able to achieve what you wanted? Should we keep this open?

[2018-12-28 05:16] #13 closed

[2018-12-28 05:16] #80 closed

[2018-12-28 05:16] #84 closed

[2018-12-28 05:16] #85 closed

[2018-12-28 05:16] #94 closed

[2018-12-28 05:31] jonschlinkert commented on #80
I just pushed up some change that also allow the following:

[code]

Hopefully this makes it a little easier.

[2018-12-28 05:33] jonschlinkert commented on #84
I just pushed up changes that allow you to do the following:

[code]

- `this.focused` is the choice at the current pointer index
- `this.enable()` takes a choice and enables it.

The `onSubmit` function is called first thing when the user submits.

[2018-12-28 05:34] jonschlinkert commented on #62
@javoski if you have a moment, please pull down Enquirer 2.3.0 and let me know if that solves the issue for you. Thanks!

[2018-12-28 10:06] whitecolor commented on #75
I believe may close it for now. Will reopen if needed.

[2018-12-28 10:39] AlCalzone commented on #85
I'm unsure how d599f71 fixes this. Can you give me a hint please?

[2018-12-28 12:38] jondot commented on #39
Hygen 2.0.3 is now released with enquirer replacing inquirer (`brew install hygen` / `yarn add hygen --dev`)!

Here's some more eye candy:

Before:

[code]

After
[code]

[2018-12-28 18:14] alcuadrado commented on #80
Thanks for this update @jonschlinkert!

I'm getting a new error now. I create my confirmation prompts with this function:

[code]

And getting:

[code]

I think that isTrue is being called twice, and the second time it receives the already casted boolean.

[2018-12-28 21:38] alcuadrado commented on #80
Wouldn't that result in `"true"` being compared against '"y"' and fail?

[2018-12-28 23:00] jonschlinkert commented on #80
Yes, anything that isn't `y` would fail, since that's how you have it defined in your custom code. Isn't that correct? The prompt itself allows `true` or `y`, but your code overrides that. Maybe I'm missing something, I'll look at the code again...

[2018-12-28 23:32] alcuadrado opened #103 "`default` field is missing from promt options types"
The `default` field is missing. I guess it should be present in `BasePromptOptions`, but I'm not familiar enough with the source code.

Minimal reproduction script:

[code]

[2018-12-28 23:33] jonschlinkert commented on #103
It should be `initial`

[2018-12-28 23:58] doowb commented on #75
Yeah, I'll add it.

[2018-12-29 00:05] alcuadrado commented on #103
I may have gotten this wrong from #80. My understanding is that `default` is shown in the prompt before the `initial` value.

As an example, this script:

[code]

Shows me this:
![image](https://user-images.githubusercontent.com/176499/50531145-35074180-0ae4-11e9-8d3f-cfd937056bd6.png)

[2018-12-29 02:13] alcuadrado commented on #80
I'm not that familiar with the codebase, but two things draw my attention:

* I'd naturally expect [`#render`](https://github.com/enquirer/enquirer/blob/master/lib/types/boolean.js#L55) to be pure (at least conceptually), but it modifies [`this.value`](https://github.com/enquirer/enquirer/blob/master/lib/types/boolean.js#L67).
* [`#initialize`](https://github.com/enquirer/enquirer/blob/master/lib/

[2018-12-29 02:15] alcuadrado commented on #103
No problem, I also got confused when replying. `default` is a confusing name. Isn't it a `hint`?

[2018-12-29 08:32] AlCalzone commented on #85
I think I misunderstood `onSubmit` - thanks. I though it was just there to allow selecting stuff in unselected multiselects.

[2018-12-29 10:53] javoski commented on #62
@jonschlinkert It works. Well done!

[2018-12-29 10:53] #62 closed

[2018-12-29 10:58] jonschlinkert commented on #62
Great! thanks for the feedback. The fix was provided by @whxaxes in https://github.com/enquirer/enquirer/pull/101.

[2018-12-31 21:20] hipstersmoothie commented on #94
It worked! @jonschlinkert thanks

[2019-01-02 16:21] ntamas opened #104 "NumberPrompt does not seem to respect the 'min' and 'max' limits when validating input"
It seems like `NumberPrompt` is using the `min` and `max` options only in the `up()` and `down()` methods (i.e. when stepping the number up or down), but it does not perform any validation on the input when the user presses Enter. As a consequence, the user type an out-of-range value manually, press Enter and submit the out-of-range value, and the prompt will not complain about it.

Due to the lac

[2019-01-06 06:19] roblav96 commented on #25
@jonschlinkert @pixelass @mikeerickson
You all are doing an absolutely fantastic job producing the content for the docs! 🤗

I've just spent a solid hour reading as much as I could and plaid around with the examples provided. There's plenty of content to get an understanding of how to use this, but it's scattered all over the place and repeated multiple times in different folders. Some consolidatio

[2019-01-06 09:16] pixelass commented on #25
@roblav96 	thx for the kind words. Once we have more content we will move to a library to make the info easily accessible. Right now the focus is creating more content and matching examples. There won't be too much discussions about wiki-libraries though. We will use what makes sense once we have a bigger picture.

[2019-01-08 09:31] paidit-app opened #105 "Skip function answers"
Since upgrading to the enquirer 2.2.0 version (2.3.0 as well), the **skip** function doesn't receive the same parameter it used to. I'm trying to extract the answers to previous questions, but all I'm getting is the name of the previous question object, so the answers field is _undefined_ as a result. Is it an expected behaviour as a result of the upgrade? What can I do to retrieve the previous an

[2019-01-09 04:31] qinzitong opened #106 "Cygwin does not suport"

[2019-01-09 04:32] qinzitong commented on #106
I use Cygwin in windows,  the Cygwin is installed by git, it does not work

[2019-01-09 04:34] jonschlinkert commented on #106
What version of Node.js are you using?

Also, please do `console.log(process.platform)` and let me know what the value is. Thanks!

[2019-01-09 09:03] qinzitong commented on #106
win32

[2019-01-09 09:07] qinzitong commented on #106
not Cygwin ,  is MINGW64

[2019-01-09 16:48] jonschlinkert commented on #106
Can you clarify? What do you mean?

[2019-01-10 01:12] qinzitong commented on #106
sorry，the title should modify：MINGW64 does not support

[2019-01-12 05:20] macmichael01 opened #107 "Multi Prompt"
It would be nice to have a _multi_ prompt similar in some ways to the _form_ prompt but with a couple minor differences.

First, render the actual registered prompts for validation purposes. (which I don't think forms supports that but might be nice if it did too).

Second, the purpose of _multi_ prompt is to re-ask the same questions over until the user indicates they are finished. This would be

[2019-01-13 15:13] tmerse commented on #34
I like all suggestions, but don't know how much effort the would mean for each case.

My personal need would be a static "header" for the autocomplete/list prompt, as I implemented a pseudo Table (by calculating the offsets/paddings manually) for list/autocomplete prompts.
For lists that have no `limit` property set, a first row element with role `header` works as a table header.
![selection_056](

[2019-01-15 10:03] iTonyYo opened #108 "support for Chinese language"
Enquirer is really cool. Unfortunately the support for Chinese is not so good.

For example, autocomplete, because the question is in Chinese, the cursor is misplaced whenever the answer is entered.

 It would be cool if that could be improved.

[2019-01-15 10:11] jonschlinkert commented on #108
Thanks so much for reporting this issue. I'll look into it and make sure we get it fixed.

[2019-01-15 10:20] iTonyYo opened #109 "support for customizing every hint"
It's not just a hint of choice, but all of them.

For example, Snippet, ` complete 30% `, hint like this, customization should be supported.

Our cli applications are in Chinese, it would be perfect if Snippet can show `已完成 30%`.

[2019-01-15 10:22] jonschlinkert commented on #109
Thanks for the idea and feedback, we'll get this implemented!

[2019-01-15 10:32] iTonyYo commented on #109
Wow, you guys responded really fast! Great!
Once you fix this & https://github.com/enquirer/enquirer/issues/108, we will definitely choose Enquirer over others.
@jonschlinkert

[2019-01-15 14:49] zentek-marco-bruening opened #110 "Option 'defaults' on Snippet not working"
As in your [example](https://github.com/enquirer/enquirer/blob/master/examples/snippet/option-defaults.js), we can use the *defaults*-option to set the default values. But it is not working.

![grafik](https://user-images.githubusercontent.com/45560978/51188104-964d5400-18dd-11e9-885c-240a0381f292.png)

[2019-01-15 16:21] jonschlinkert commented on #110
The example is wrong, thanks for pointing it ou. The correct property name is `values`. Please let me know if that works for you.

[2019-01-15 16:24] zentek-marco-bruening commented on #110
Yeah, it works. Thank you

[2019-01-15 16:24] #110 closed

[2019-01-15 16:25] jonschlinkert opened #111 "examples: incorrect property in snippet example"
See: https://github.com/enquirer/enquirer/issues/110

[2019-01-15 16:37] zentek-marco-bruening commented on #111
This may be the wrong place to ask, but is there a doc about Snippet? Is there for example a way to change the color?

[2019-01-15 18:44] jonschlinkert commented on #111
Yes, you should be able to pass a custom style on the options. I believe the style was named `typing`, to avoid conflict with other styles and give you complete control over the styling.

[code]

Try also modifying the following styles, the same way as in the example:

- `heading`
- `primary`

Fwiw, this is going to be greatly improved in v3.0. I have some pretty great improvements planned for the

[2019-01-16 10:14] zentek-marco-bruening commented on #111
Thank you, *typing* did work, but *heading* and *primary* not

[2019-01-16 12:30] jonschlinkert commented on #111
They work. But only when the values use those methods.

[2019-01-18 17:25] SebastienBelmon opened #112 "Can't use numeric characters in autocomplete type"
Hello,

I'm having an issue which I suppose is a bug. I can't use digit characters in autocomplete type.

### minimal example

[code]

### Expecting behaviour

For example, I would like the user able to enter `830` as input, and the `autocomplete` type prompt to propose `100IPLEX_00830.JPG` to him. But it seems the program does not allow user to use numeric characters while choices are actually st

[2019-01-18 18:33] jonschlinkert commented on #112
I actually noticed this myself and fixed it locally already. I'll get a fix pushed up ASAP.

thanks for reporting!

[2019-01-24 03:39] Armaldio opened #113 "Powershell not showing validation string"
OS: Windows 10

On cmd, the *validation string* is shown correctly, on PowerShell, it's not shown

![ezgif com-gif-maker](https://user-images.githubusercontent.com/3089715/51652625-52ea8980-1f5e-11e9-9cf9-ba2fff50748d.gif)
![ezgif com-gif-maker 1](https://user-images.githubusercontent.com/3089715/51652627-54b44d00-1f5e-11e9-928d-196f292ad72f.gif)

[2019-01-24 03:41] jonschlinkert commented on #113
Thanks for creating the issue! We'll look into it and see what needs to be done to get this fixed. PRs appreciated!

[2019-01-24 15:16] Armaldio commented on #113
After some researches, I found that a bug in Powershell display foreground magenta the same as PS blue bg.

https://github.com/nodejs/node/issues/14243
https://github.com/PowerShell/PowerShell/issues/4266

A solution may be to change magenta to another color: https://github.com/enquirer/enquirer/blob/b3d6295e5046976d78d44731a88aebe0fecf2c7d/lib/styles.js#L39
https://github.com/enquirer/enquirer/bl

[2019-01-24 16:47] jonschlinkert commented on #113
Great to know! Thanks for researching that! We should be able to detect PowerShell automatically to change colors. However, it seems like this would only be “hacking at the leaves” of the problem, since the same problem might occur in other terminals based on the user’s theme. In the spirit of accessibility, perhaps we should also consider allowing the user to change colors using a flag or env var

[2019-01-24 17:03] Armaldio commented on #113
Yeah, that could be great to have a theme option to pass here: https://github.com/enquirer/enquirer#enquirer-1 for example.
But if you do that, you let the responsibility to the accessibility to the user.

I don't think so, here it's clearly a bug in PS. Color should auto adapt based on bg color in most terminals.

My recommendation would be to just change magenta to, say, red. But I get that chan

[2019-02-02 17:17] astoilkov opened #114 "Support for emacs shortcuts"
I am so used to emacs shortcuts like `Ctrl+N` and `Ctrl+P` on macOS. However, when pressing these shortcuts in enquirer list the list breaks and shows `New choice name?`

![image](https://user-images.githubusercontent.com/884810/52167117-030a8000-271f-11e9-874e-153344d4ddb9.png)

This is a feature request for supporting emacs shortcuts. Thanks for the amazing library!

[2019-02-02 17:31] astoilkov commented on #114
@jonschlinkert Can you clarify a little? What do you mean by features? What is the feature you will eliminate? What do you mean by caused by another library?

I am little confused because maybe I am not an expert in terminal prompts. Isn't `Ctrl+N` the same thing as arrow down? For example `Ctrl+N` and `Ctrl+P` works in my terminal pressing them goes through the history of commands I have typed.

[2019-02-02 17:42] jonschlinkert commented on #114
The "New choice" you described in the first comment is a feature, which would be eliminated. Enquirer allows you to add choices to some prompts by hitting `ctrl+n`. This would need to be disabled. It might be possible to disable it only when someone is using emacs, I can look into that as well.

Yes, kind of, `ctrl+n` specifically is "next line", and `ctrl+p` is "previous line". I say "kind of" be

[2019-02-02 17:53] astoilkov commented on #114
Thank you so much for the detailed explanation. I get it now.

If I have an option to disable the `Ctrl+N` functionality with a flag in the options I would do that. If it worked in `prompt-list` then it could be possible it will work automatically if the feature is disabled.

However, I understand that you probably don't like the idea of adding a flag do disable a feature. I would understand. On t

[2019-02-02 17:53] jonschlinkert commented on #114
Hmm, there doesn't seem to be a reliable way to detect if emacs is being used, but I'll keep looking. We might be able to infer that emacs is being used by either checking for the existence of an emacs config file, like `.emacs.d`, or by allowing the user to set a `process.env` variable to tell enquirer that it's running in "emacs mode"

[2019-02-02 17:55] astoilkov commented on #114
`process.env` variable will be good.

[2019-02-02 18:00] jonschlinkert commented on #114
I'm not opposed to this either. It might already be possible by overriding the action on the options. I believe it's the `actions` option. Honestly, I don't even know if that has test coverage yet, so I haven't documented it.  But here are some pertinent places in the code:

- https://github.com/enquirer/enquirer/blob/master/lib/combos.js
- https://github.com/enquirer/enquirer/blob/master/lib/prom

[2019-02-02 18:06] astoilkov commented on #114
I saw them now. There are also not in the TypeScript definition. I am not sure what to do to try if that approach will work.

[2019-02-02 18:34] jonschlinkert commented on #114
No worries, I'll look into this more and see if I can come up with a fix.

[2019-02-06 11:40] jwx opened #115 "Feature request: 1-based index"

[2019-02-06 16:12] pimlie opened #116 "Cursor disappears from terminal window when running with jest"
Whenever I run a test with Jest which includes some code which uses eg a prompt (didnt test anything else), then the cursor disappears from my terminal window and I have to run `setterm -cursor on` to make the cursor visible again. I guess this is an enquirer issue and not a jest one, but let me know if you think otherwise!

See following example:
[code]

[2019-02-07 18:36] 0x80 commented on #51
@jonschlinkert `return this.focused.value;` gives a Typescript error:

Any idea how to work around that?

Also I'm not sure I understand why the API is the way it is. If you specify a value for the different choices, I would think you always want the value as the returned result. But likely I'm not seeing the full picture here 😄

[2019-02-08 11:47] huochunpeng commented on #105
It doesn't make sense for skip function not seeing previous answers.

[2019-02-12 12:54] dungwinux opened #117 "enquirer is not working on Node.js 11.8.0+"
When using enquirer on Node.js 11.8.0 and 11.9.0 on Windows, the `autocomplete` and `select` prompt cannot be used or navigated correctly.
![visual](https://user-images.githubusercontent.com/23451424/52636603-b5043200-2eff-11e9-867f-e6592f806d9f.gif)
I've tested older version of enquirer, and the bug is still there. Perhaps there're some breaking changes in Node.js version 11.8.0.

[2019-02-12 13:01] jonschlinkert commented on #117
Is this a minimum test case that is reproducible directly with Enquirer and no other libraries or custom code?

[2019-02-12 13:19] dungwinux commented on #117
The gif is actually captured within a project, no custom code in enquirer, you can see the source here: https://github.com/vnma0/wafter/blob/enquire/src/index.js
And yes, it can be reproduced with the following code:
[code]

[2019-02-12 15:25] jonschlinkert commented on #117
I can't reproduce with the code in your example on Windows or Mac.

This code: https://github.com/vnma0/wafter/blob/enquire/src/index.js, cannot be run without precompiling. Did you actually verify that Enquirer itself has the bug, by running the code directly with Enquirer, without babel or any other custom code?

Can you please provide more information about your OS, terminal, or anything else t

[2019-02-12 15:36] jonschlinkert commented on #117
Also, did you verify that your code works with other, older versions of Node.js? I looked at your setup, and it's hard to see if anything might be causing issues.

Based on the behavior in the gif, it looks like something isn't being `await`ed properly.  Either in your setup or in Enquirer itself.

[2019-02-12 15:37] jonschlinkert commented on #116
I'll make this optional in the next release. Thanks for the issue.

[2019-02-12 20:46] Armaldio opened #118 "Select value in select from keypress"
Is there a way to add something like a shortcut, where you can select a value in a select prompt using a set of keys.

Like I have a select of "Add" and "Remove" and instead of selecting one or the other, I just have to type 'a' to select "Add" or 'r' to select "Remove".

I've tried using keypress event, but it seems i'm not successfull.

[2019-02-12 22:04] pimlie commented on #116
@jonschlinkert It disappears and it indeed doesnt come back.

Here you see it:
![image](https://user-images.githubusercontent.com/1067403/52670724-9ad74d80-2f19-11e9-867b-558fd7de0580.png)

And here you dont:
![image](https://user-images.githubusercontent.com/1067403/52670824-df62e900-2f19-11e9-9dfc-5524f63a0068.png)

I did some more tests and I am unable to repeat the behaviour with eg input or p

[2019-02-12 22:31] dungwinux commented on #117
I've tried running without precompiling/transpiling with Babel and the bug still happened.
Before, I tried with Node.js 11.6.0 and no such problem exists.
I've tested on two machines, both running Windows 10 Build 17763.292 64-bit.

[2019-02-12 22:34] jonschlinkert commented on #116
Thanks for checking.

- What version of Node.js are you using?
- What OS?

I think I know how to fix this (I'm pretty sure the cursor isn't getting re-enabled on process `exit`, probably because it's happening in a `child_process` and it's getting terminated before the listener can do its thing), but we should make sure it's not something different first.

Thanks!

[2019-02-12 22:38] jonschlinkert commented on #118
The `select` prompt doesn't allow items to be "checked", it only selects the item that the pointer is focused on.

Try using the [multiselect prompt](https://github.com/enquirer/enquirer#multiselect-prompt).

- Use <kbd>space</kbd> to toggle the currently focused choice
- Use <kbd>a</kbd> to toggle all choices
- Use <kbd>i</kbd> to invert all choices
- Use <kbd>g</kbd> to toggle all options in a c

[2019-02-12 22:49] jonschlinkert commented on #117
Meaning, with **your code**? Did you do the following?

[code]

Then

[code]

Did that work? Or are you still using code that you wrote? I can't reproduce this when Enquirer is run directly. That doesn't mean it's not a bug, but we need to narrow down which of the following scenarios describes the issue:

1. the bug is in Enquirer, and is likely related to a recent change in Node.js core
1. the bu

[2019-02-12 23:11] dungwinux commented on #117
Here's how I tested without Babel
[code]
with `index.js` as below:
[code]

[2019-02-12 23:12] dungwinux commented on #117
I've tried the example in the source, the issue is still there.

[2019-02-12 23:18] dungwinux commented on #117
![enq](https://user-images.githubusercontent.com/23451424/52674763-2e7b3f00-2f57-11e9-88db-2a302def399a.gif)

[2019-02-12 23:20] dungwinux commented on #117
Interestingly, in Command Prompt, it shows that each keypress is resolved twice, pressing `Up` one but the highlighted jump up two

[2019-02-12 23:35] Armaldio commented on #118
I don't want to check items, I want to confirm a choice based on a keypress instead of pressing "Enter"

Imagine having:

![](https://raw.githubusercontent.com/enquirer/enquirer/master/media/select-prompt.gif)

and pressing 'w' select watermellon, whatever the index you are.
It's similar to `number` in [select choice](https://github.com/enquirer/enquirer#select-choices)

[2019-02-13 01:05] jonschlinkert commented on #118
Did you try the `autocomplete` prompt?

[2019-02-13 01:57] Armaldio commented on #118
Still not really what I'm looking for :/

I think the best way to achieve what I want are [custom prompts](https://github.com/enquirer/enquirer#-custom-prompts) but still I don't know if its doable

[2019-02-13 07:03] pimlie commented on #116
Thanks for the quick feedback. Currently using Node v11.9.0 but the behaviour is also present with v10.16.0. OS is Ubuntu Bionic (18.04)

[2019-02-13 07:13] pimlie commented on #116
By the way, I dont think that using `skip: true` to forcibly skip prompts on testing is the best way to test code as it seems skip is mostly meant to influence workflow. It would probably have been better to just mock the prompt function in the tests.

Although it will depend on one's use-case, am I correct there arent any official enquirer recommendations for how to use or skip workflows during t

[2019-02-14 17:46] jonschlinkert commented on #117
Thank you for debugging this! I'll look into it asap

[2019-02-15 13:16] dungwinux commented on #117
This issue doesn't seem to be happened in Node.js v11.10.0 released yesterday. I've tested with the examples in enquirer repo and the bug is nowhere to be seen.
I guess it's caused by Node.js in someway.

[2019-02-15 16:28] jonschlinkert commented on #117
Interesting, thank you so much for looking into it! I have a full plate for a few days but I’ll look into this ASAP! Pull requests also welcome!!

Sent from my iPhone

[2019-02-16 11:44] transitive-bullshit opened #119 "Feature request: allow validate to take in current form state"
Currently, it seems that `validate` only receives the value of the current prompt. For multiple inputs / forms, it's really useful to be able to take in the resolved values of the entire form state in addition to the individual prompt's current value.

Inquirer supports this functionality. It's useful, for instance, as part of a credit card input form for validating ccv depending on card type when

[2019-02-16 22:13] huochunpeng commented on #105
Just found out how to get answers from the new skip implementation after v2.2.0+.

[code]

The new skip had bound `this` to current prompt instance, so you can access answers through `this.state.answers`. Note it must be using old `function() {}` syntax, no arrow function here `() => {}` as arrow function has effect on re-binding `this`.

This is definitely a breaking change from v2.1.1 to v2.2.0.

[2019-02-17 00:39] 3cp opened #120 "How do I avoid adding "initial" to answers when prompt is skipped?"
[code]
It prints `{ choice: 'a' }`, it arguably should be `{}`.
As reference, inquirer doesn't add answer of skipped question.

[2019-02-17 00:43] jonschlinkert commented on #120
Is it still answered when you remove `initial`? If you are conditionally enabling `skip`, why not also conditionally remove `initial`?

`skip` is not the same as inquirer's `when`. The point is to give you the ability to skip a question that has already been answered.

[2019-02-17 00:44] huochunpeng commented on #120
Thx for the tip. Removing initial results with `{ choice: '' }`.

It seems too verbose to condition both skip and initial.

[2019-02-17 00:46] huochunpeng commented on #120
BTW, is this the way (condition both skip and initial) to conditional "remove a question from questionnaire"?

Or is there other official way?

[2019-02-17 01:07] jonschlinkert commented on #120
Agreed, and I'm open to suggestions for how you can skip a question that has already been answered, while also keeping the value. Meaning, the `initial` value is presumably the answer. There might be a better way to do this.

No, but I'll be releasing another major version soon, and this would be a good time to make changes if you have ideas.

[2019-02-17 02:22] huochunpeng commented on #120
Not sure I can provide good suggestion. Only starting with enquirer/inquirer for few days.

Enquirer’s small foot print is very impressive. That is enough reason for me to choose enquirer.

For the skip, there are two situations:

1. Skip this question because user has provided an explicit/implicit answer.
2. Skip this question because it is irrelevant based on answers of previous questions.

The

[2019-02-17 02:57] Armaldio commented on #118
For anyone wondering for a solution, here it is

[code]

Maybe (@jonschlinkert) you're also interested in a PR to add this as an example ?

[2019-02-17 04:05] 3cp opened #121 "How do I return the "value" of selected choices instead of "name"?"
[code]
It prints `{fruit: 'Apple'}` instead of `{fruit: 'app'}`.

[2019-02-20 19:57] AlCalzone commented on #85
@jonschlinkert I just came around to trying this. In the `onSubmit` callback, I overwrite `this.value` with the transformed value. However, after that (inside `validate` and after the prompt returns), the prompt still has the original value.

Either the method is not working as I thought or I am doing something wrong. How would I realize the following?

1. Ask user for text input, e.g. "foo.bar"
2

[2019-02-28 19:05] rgilbert1 commented on #121
After digging around the codebase for a while, I located the [line of code](https://github.com/enquirer/enquirer/blob/master/lib/types/array.js#L555) that would need to change to fix (at least this) case.

It's currently:
[code]

Changing it to:
[code]
(or something cleaner) would give us the functionality we're looking for. I'm not sure if this is intended functionality anymore, but it would be n

[2019-02-28 19:51] rgilbert1 commented on #121
I found a workaround that wouldn't require a code change in this codebase. I was looking at [this test](https://github.com/enquirer/enquirer/blob/master/test/prompt.multiselect.js#L56) and noticed the `result` function that gets passed in. Using that, we can actually pull the `value` field out ourselves, like this:

[code]

This produces expected behavior :tada:

[2019-03-03 00:33] jonschlinkert commented on #17
Closing since I think this is something that we could add to the docs or a recipe. A PR is very welcome!

[2019-03-03 00:33] #17 closed

[2019-03-03 00:33] jonschlinkert commented on #14
closing since this library was refactored and this is addressed.

[2019-03-03 00:33] #14 closed

[2019-03-03 00:36] jonschlinkert commented on #105
Sorry for the late reply.

You are indeed correct, this was an oversight and not intentional. Thanks for digging and letting me know.

[2019-03-03 00:36] jonschlinkert commented on #106
got it, thanks.

[2019-03-03 00:40] jonschlinkert commented on #26
Closing since I think this was answered and addressed. Please reopen if you want to discuss further.

[2019-03-03 00:40] #26 closed

[2019-03-03 00:44] jonschlinkert opened #122 "static "header" for array prompts"
_Originally posted by @tmerse in https://github.com/enquirer/enquirer/issues/34#issuecomment-453837740_

[2019-03-03 00:47] jonschlinkert commented on #37
Sorry that it took me so long to respond. The behavior you're seeing is correct, since you're trying to use `console.log()` with the prompt. Instead, try using the `footer` option.

See [this example](https://github.com/enquirer/enquirer/blob/69deef48c8d7535c5175f8b1b981638830541821/examples/input/option-header-footer-initial.js), and please let me know if that's what you meant. Thanks!

[2019-03-03 00:49] jonschlinkert commented on #39
Closing, this will be referenced in the docs soon, thank you for letting us know!

[2019-03-03 00:49] #39 closed

[2019-03-03 00:54] jonschlinkert commented on #66
I'm open to feedback. What do you think it should do?

Sorry for the late reply.

[2019-03-03 02:08] jonschlinkert commented on #107
@macmichael01 I think both of your requests possible now.

**Request 1 - Validating form choices**

The `Form` prompt supports validation. If you aren't able to get it working, then please create a bug report so we can see what's causing problems for you and get it fixed. See [this example](https://github.com/enquirer/enquirer/blob/master/examples/form/choice-format.js).

In the choice objects, yo

[2019-03-03 02:26] jonschlinkert commented on #116
Probably, yes. The purpose of `skip` is to dynamically avoid running the prompt when the response value isn't needed, or when you already have the value you need.

I would recommend doing something like [this unit test](https://github.com/enquirer/enquirer/blob/master/test/prompt.input.js#L19).

However, this issue is unrelated to what you're describing. I still need to come up with a way of ensur

[2019-03-03 02:28] jonschlinkert commented on #116
Actually, maybe this is something we should just document, since you can handle this yourself. You can listen for the `child_process` to `exit`, then call `prompt.cursorShow()`. Let me know if this works for you.

[2019-03-03 02:30] jonschlinkert commented on #118
Yes, that would be great! Thank you!

[2019-03-03 02:30] jonschlinkert commented on #118
Closing since I think this is resolved.

[2019-03-03 02:30] #118 closed

[2019-03-03 02:33] jonschlinkert commented on #119
Sorry for the late reply, I thought I replied to this already!

It's possible, but not as easy as it should be. I'm working on 3.0, I'll make this easier and keep this open until I get 3.0 pushed up.

Thanks for the issue!

[2019-03-03 02:39] jonschlinkert commented on #120
Actually, I'm going to reiterate what I mentioned in my first comment, but with an example - because I think this is really easy and not hacky at all. And it should give users the ability to decide which thing they want to do:

[code]

[2019-03-03 02:45] jonschlinkert commented on #121
@rgilbert1 thank you for adding the example!

FWIW, the reason `name` is returned is that it allows you to easily the value and/or any other property you want from the selected choice(s).

Since @rgilbert1's example shows how to return an object with key-value pairs, where the key is the `choice.name`, and value is the `choice.value`, if you'd rather have an array of values as the result, you can

[2019-03-03 10:18] pimlie commented on #116
Hmm, although I understand its probably mostly a time/effort issue thing I dont think the user should be the one who re-enables the cursor when he doesnt have to hide it explictly as well.

I think the main issue is is that enquirer is calling the callback functions (which writes to stdout to enable the cursor) and then call process.exit immediately, the [node docs](https://nodejs.org/api/process.

[2019-03-03 12:14] coalpha opened #124 "Falsy name leads to incorrect return value"
First of all, amazing package. I love it :)
Okay, so let's say you have some code like this:
[code]
This code works except if you select `Apple` since the index that's being used as the name is `0`, and `0` is falsy. I haven't read the source code but I'm assuming that enquirer just checks for truthy values. Could enquirer use `{}.hasOwnProperty.call(choice, "name")` instead?

[2019-03-04 14:42] k15a opened #125 "Select / Autocomplete is slow with a lot of choices"
If you have a lot of choices select and autocomplete are a little bit laggy especially if you keep the arrow keys pressed.

Here is a minimal reproduction:

[code]

[2019-03-04 14:44] jonschlinkert commented on #125
@k15a thanks for letting us know. What terminal and OS are you using?

[2019-03-04 14:50] k15a commented on #125
iTerm2 Build Build 3.2.6 on MacOS Majove 10.14.3 (18D109)

[2019-03-11 04:07] linkjay commented on #37
No, I'm sorry I must be more than confusing here.

I understand that this is desired behavior, and that example does not show my issue. In that example, that shows output being drawn under the prompt, but I am not interested in that. I am asking if there is a way that upon console.log or any stdout, the prompt is moved down so the stdout is actually drawn above that prompt.

Think about having a t

[2019-03-13 10:32] noinkling opened #127 "Showing a prompt causes REPL session to end"
OS: Windows 10
Node version: 11.11 (WSL) / 11.10 (Windows)

[code]
No error message or anything. If I'm running a script from the REPL that shows a prompt then does a bunch of other stuff, all the operations will complete, but as soon as it's idle the session ends.

For WSL, I tested on both the standard Windows console and mintty, no difference.

[2019-03-13 20:49] jonschlinkert commented on #127
Is this unexpected? What is the use case for running prompts from a REPL? I can think of ways around it, but none of them would be useful outside of this use case.

[2019-03-13 22:13] noinkling commented on #127
My specific use case is that I'm developing a data import script where it's important that I be able to run individual parts of it ad-hoc with different inputs and check the output. Some parts require a user decision via prompt, so it gets very frustrating when I'm kicked back to shell and lose my in-scope variables, required modules, etc, and have to open the REPL again. (Comprehensive automated

[2019-03-17 18:08] kirillgroshkov commented on #83
Very simple fix could be to just add `export` on every interface in `index.d.ts`, would help so much!

[2019-03-18 06:39] hi2u commented on #66
Another person here who would love this feature.  I'm currently using inquirer, but would switch over for this feature.

In think there's really only two possibilities here?...

### The developer wants to allow an empty string answer

I this case you obviously need to be able to empty the field and submit nothing.

### The developer does not allow an empty string answer

In this case there should

[2019-03-19 00:30] jonschlinkert commented on #124
Interesting. I think this is a bug, I'll look into it thanks for letting us know!

[2019-03-20 15:52] quarterto opened #128 "skipped ArrayPrompt with empty choices array returns promise that never resolves or rejects"
example ([runnable on runkit](https://runkit.com/quarterto/5c9260f44b5c9a0016e41f06)):

[code]

this happens with any `ArrayPrompt`. i've had a look through that class and i can't see any obvious culprit

[2019-03-20 16:02] jonschlinkert commented on #128
Definitely should not be happening. Thanks for letting us know! I'll look into it ASAP. Once I (or someone else confirms) we'll mark as a bug and get this fixed. I'm close to pushing up the next release, so we'll get this fixed first.

[2019-03-21 06:19] Means88 opened #129 "Unable to input new value after failed validation in list type"
## Version
2.3.0

## Environment
[code]

## Reproduction
[code]
![screenshot](http://means88.com/statics/tmp/enquirer.gif)

It works well in input type.

[2019-04-03 09:18] MikeZyeman commented on #121
@jonschlinkert Unfortunately this does work when there are only choices with unique names.

I'll take your previous code as an example:

[code]
As you can see, there are two choices with the name 'baz'. The first 'baz' has the value of **42** and the second has the value of **true**

If you select the first 'baz', when you get the expected value of **42**, but if you select the second 'baz', you w

[2019-04-04 00:47] sramam commented on #70
Is it possible to write test cases for something like this?
Since each iteration creates a new prompt, I can't seem to figure how to get a handle to the underlying instance and send keypresses to it.

[2019-04-09 23:45] sramam opened #131 "Getting access to answers as an array of prompts is processed"
In many cases, it's useful to have access to answers to previous prompts when processing validate(), result(), skip(), format().

Perusing the code, it seems that they are passed in (value, state) as arguments - I believe in all cases, but might be mistaken. However, state seems to represent the current state of the active prompt in the sequence. Is there a way to access previous answers of a prom

[2019-04-16 03:15] shaodahong commented on #105
@jonschlinkert and `skip` return `true` skip all after prompts?

[2019-04-16 10:12] 318097 opened #133 "npm test fails"
![Screenshot from 2019-04-16 15-09-33](https://user-images.githubusercontent.com/18000784/56201278-2d04ea80-605e-11e9-8d94-da4843919f57.png)

[2019-04-16 10:13] 318097 opened #134 "Feedback/Suggestions for readme"
- The first example can have few more chained prompts (It shows the power of enquirer in a few seconds)
- Todo can be moved to the bottom & can be a section (Below Contribution section)
- The 'Related prompts' section can be moved below 'Example Usage'. After the gif, the code should be shown (It is correct for Input prompt)
- The example should be complete. It should match exactly what is shown i

[2019-04-16 12:20] doowb commented on #133
@318097 thanks for the issue!

Can you provide some more information about your environment?

- OS version
- Node.js version
- Terminal
- Anything else that may be helpful

[2019-04-16 12:29] 318097 commented on #133
This is the info about my system:
![Screenshot from 2019-04-16 17-54-24](https://user-images.githubusercontent.com/18000784/56209506-5f6c1300-6071-11e9-8698-dc74c2ae5bf1.png)

Node.js version: `v8.10.0`
Terminal: I have `zsh` installed. Its version is `zsh 5.4.2 (x86_64-ubuntu-linux-gnu)`
but the problem exists even from normal shell.

[2019-04-16 17:39] jonschlinkert commented on #134
@318097 thanks! These are great suggestions!

[2019-04-17 14:38] doowb commented on #134
See PR #132 where @318097 is making the changes from this list.

[2019-04-19 15:13] Cyberuben opened #135 "Typescript definitions"
The Typescript definitions for this project seem to be lacking. I've seen a PR that has been closed because apparently it was "poorly written" but other than that I can't really find issues regarding types.

I'd love to use this library but right now I'm quite limited with the missing type definitions. I need the definitions for pre-defining questions (prompts?) before actually calling the methods

[2019-04-19 15:47] sw-yx commented on #135
i mean.. wanna PR it?

[2019-04-21 13:30] 318097 opened #136 "bugs in example prompts"
## autocomplete
- [ ] How to identify that there is scroll in the list.
- [ ] The scroll is continous. Cannot identify start/end
- [ ] 'option-hightlight.js' => error
- [ ] 'option-multiple.js' => select some option, search for something & press enter

## confirm
- [ ] enquirer-option-default.js, option-istrue.js => error

## editable
- [ ] cannot add numbers in email id (prompt.js)
- [ ] should n

[2019-04-21 14:57] doowb commented on #136
@318097 thanks for the issue! I'll go through this later today and we can create individual issues around the specific bugs.

[2019-04-25 12:54] doowb opened #137 "autocomplete prompt example"
## autocomplete

- [x] How to identify that there is scroll in the list.
- [x] The scroll is continuous. Cannot identify start/end
- [x] 'option-hightlight.js' => error
- [x] 'option-multiple.js' => select some option, search for something & press enter

[2019-04-25 12:55] doowb opened #138 "confirm prompt example"
## confirm

The following examples throw errors when running:

- [x] enquirer-option-default.js
- [x] option-istrue.js

[2019-04-25 12:56] doowb opened #139 "editable prompt example"
## editable

- [x] cannot add numbers in email id (prompt.js)
- [x] should not accept input if there are errors
- [x] choices-headings.js => error

[2019-04-25 12:56] 318097 opened #140 "survey prompt example"
## survey
- [ ] survey:prompt.js => error

[2019-04-25 12:56] 318097 opened #141 "select prompt example"
## select
- [ ] option-pointer.js => pointer not shown

[2019-04-25 12:56] doowb opened #142 "input prompt example"
## input

- [x] option-symbol.js => error

[2019-04-25 12:56] 318097 opened #143 "scale prompt example"
## scale
- [ ] prompt.js => having the scale range starting from 1 would be better

[2019-04-25 12:56] doowb opened #144 "list prompt example"
## list

- [ ] bug:prompt.js => when the keywords list ends with a 'comma', an empty string is added in the resulting array

[2019-04-25 12:57] 318097 opened #145 "password prompt example"
## password
- [ ] validation error should be shown while giving input, rather than while submitting

[2019-04-25 12:57] doowb opened #146 "numeral prompt example"
## numeral

- [x] option-initial.js => input is not updated
- [ ] option-format.js => cursor is not in right place during input

[2019-04-25 13:01] doowb commented on #136
Moved to separate issues.

[2019-04-25 13:01] #136 closed

[2019-04-25 13:15] 318097 commented on #138
option-istrue.js: The example prompt overrides the default isTrue() & isFalse() to (t/f) & because of that the (y/N) needs to be updated.

[2019-04-25 13:24] 318097 commented on #146
option-initial.js: cannot enter numbers
option-format.js: ensure that the cursor calculation includes formatting characters

[2019-04-25 13:32] 318097 commented on #144
when the input ends with a comma, the answers array contains an empty string. so is it a feature (this is the default functionality of `String.split()`) or a bug?

[2019-04-25 13:38] 318097 commented on #142
![Screenshot from 2019-04-25 19-07-56](https://user-images.githubusercontent.com/18000784/56739933-7f948400-678d-11e9-9c3b-1cf850a7fab4.png)

[2019-04-25 14:00] 318097 commented on #140
![Screenshot from 2019-04-25 19-30-19](https://user-images.githubusercontent.com/18000784/56741501-9a1c2c80-6790-11e9-9ea9-395963d87df2.png)

[2019-04-25 14:17] 318097 commented on #139
numbers cannot be entered because the default action for `number` is to select choice.

[2019-04-25 14:34] 318097 commented on #137
the highlight() on `options` needs to be updated.

[2019-04-26 00:10] jonschlinkert commented on #145
@318097 here is an example of how this can be handled with options:

![2019-04-25 20 06 29](https://user-images.githubusercontent.com/383994/56775582-ae165d00-6795-11e9-81f7-5a4b4eefea0a.gif)

This way you can be as granular as you want, you could even show a different message with every character if you wanted. Let us know if you come up with other ideas for how to do this. I'd love to improve th

[2019-04-26 03:22] #141 closed

[2019-04-26 03:33] doowb commented on #137
This can be done by adding a `header` or `footer` function that returns the message specifying there are additional items in the scroll list.

I think this is fine if the first item is addressed (meaning that a user would know it's supposed to scroll). However, if you have any ideas on a good way to indicate this, I'd be happy to hear them.

As specified above, the `highlight` option right now nee

[2019-04-26 03:51] doowb commented on #143
@318097 I was starting to type something else out, but then realized that the [scale/options-number.js](https://github.com/enquirer/enquirer/blob/bba44f29be3abf7b25acc8a8101bdd7892bb66a5/examples/scale/option-number.js#L7-L13) example shows exactly how to do what I was about to suggest showing.

It does this by passing a `number` method to the `options` that does the work of choosing the correct `

[2019-04-26 03:51] #143 closed

[2019-04-26 03:53] doowb commented on #144
I think the default behavior is fine and if you'd like to create a new example showing how to remove empty strings, that would be awesome.

[2019-04-26 03:55] doowb commented on #138
I agree. Would you update the example to show how to show `(t/F)` instead of `(y/N)`?

[2019-04-26 07:52] 318097 commented on #145
This looks great. I'll see if I got anything more. One change can be, showing the error message when the user stops typing with a delay. Probably, all I can think of is firing the error message method with the help of  `delay()` in `rxjs`

[2019-04-26 07:53] 318097 commented on #144
Great. I'll do that.

[2019-04-26 10:57] 318097 opened #149 "feat: navigation between prompts"
### A feature to navigate forward and/or backward between prompts.
- The user might have entered the wrong information / might want to change the given input

[2019-04-26 11:04] 318097 opened #150 "feat: provide optional/required property"
Provide optional/required feature for a prompt.ex.,
1. **number:prompt.js** - If `enter` key is pressed without passing any input,  `0` is taken as default value. The user might or might not expect this.
2. When an invalid email is entered, the prompt still accepts the input.

**Suggestion:** There can be a `optional/required` property, where errors are ignored if the prompt is `optional` & the pr

[2019-04-28 11:49] 318097 opened #151 "problem in saving file"
When I try to save the file, the content gets changed.
![save-issue](https://user-images.githubusercontent.com/18000784/56863870-831c4b00-69d9-11e9-9b23-c1a97637b645.gif)

@doowb Please help me with that
I don't know if this is an issue with my vs code or something to do with markdown

[2019-04-28 14:57] doowb commented on #151
That looks like a vs code plugin that's creating a table of contents for the entire file when you save it. Do you have a vs code plugin installed that does something with a markdown TOC?

[2019-04-29 05:44] 318097 commented on #151
Yes, I have a extension named `Markdown All in One`. I'll try to disable it & check.

[2019-04-30 07:40] AlCalzone opened #153 "Is there a changelog for versions > 2.1.1 ?"
I just found out by manually testing that 2.3.0 no longer returns `undefined` but instead throws when a user cancels the prompt. That is what I would call a breaking change which should not happen on a minor update.

[2019-04-30 10:31] 318097 commented on #151
worked by adding the following setting in vs code
`  "markdown.extension.toc.updateOnSave": false`

[2019-04-30 10:31] #151 closed

[2019-05-01 14:07] #144 closed

[2019-05-01 14:16] doowb commented on #149
I think this is a good idea and may be something that can be implemented in the static `prompt` function when passing in multiple questions.

[2019-05-01 14:17] #138 closed

[2019-05-01 14:18] doowb commented on #145
Example added in #148

[2019-05-01 14:18] #145 closed

[2019-05-01 14:20] doowb commented on #137
Thanks @318097 for the fixes in #148!

[2019-05-01 14:20] #137 closed

[2019-05-01 14:23] doowb commented on #133
We determined that this is an configuration setting in `zsh`. I'm going to close this but if anyone else has the same issue, please comment here with information on your environment and example code on how to reproduce.

[2019-05-01 14:23] #133 closed

[2019-05-06 19:06] shaunwarman opened #154 "[QUESTION] should `skip`'d prompts be a part of the answers?"
I'm currently chaining about 5 different prompts. Some of these prompts may be skipped due to earlier answers to previous prompts. Should the returned response to the overall prompt contain the keys to those fields that were skipped? Ideally, I would think not.

Example
[code]

Would it be better if the output were?
[code]

Or is there a way after the fact to know which answers were skipped? So th

[2019-05-07 00:49] doowb commented on #154
@shaunwarman take a look at [this comment](https://github.com/enquirer/enquirer/issues/120#issuecomment-468981509) that has an example of setting `this.initial` to `void 0` when skipping.

This will set `'b'` to `undefined` instead of `''`.

[2019-05-07 03:09] 318097 commented on #149
@doowb thanks for the help.
This is a sample implementation:

[code]

@jonschlinkert Do you have any feedback? Is this something that could be added internally or just as an example?

[2019-05-07 03:36] jonschlinkert commented on #149
This is awesome! I’m on my phone, but I can’t wait to try this out tomorrow. Great idea!

[2019-05-07 04:00] doowb commented on #149
@jonschlinkert one question that we had while working through this was, how do we add a new `action`?

We added an action to the internal code at first to try it out, but wanted to be able to do the same thing through an example.

[2019-05-07 04:13] shaunwarman commented on #154
Thanks @doowb ! This does work for `type: 'input'`, but not some of the others. E.g. `type: 'select'`. The value would eventually come back as `''` still.

[2019-05-07 04:18] 318097 commented on #149
We figured this out and updated the example. We passed `actions` object on the `options`

[2019-05-07 04:26] shaunwarman commented on #154
Initial thoughts are to use the built-in prompts directly, but I'd like to avoid running each one by one and then aggregating answers and running conditionals on my own. It also looks like the `.when()` existed in [`prompts-base`](https://github.com/enquirer/prompt-base) but that package has been archived.

[2019-05-07 05:08] shaunwarman commented on #120
This works for `type: 'input', but not for `type: 'select'` and other `ArrayPrompt` types.

[2019-05-09 23:18] doowb commented on #149
This has been added as an example in #155

Thanks @318097!

[2019-05-09 23:18] #149 closed

[2019-05-13 10:11] ram2510 opened #156 "Error while building the package"
main.bundle.js from Terser undefined when I listed this on bundlephobia site

[2019-05-13 11:11] jonschlinkert commented on #156
"building the package"? This sounds unrelated to this repository.

[2019-05-13 11:13] #156 closed

[2019-05-16 14:31] perezLamed commented on #140
Sample code
[code]

[2019-05-19 19:21] SamBroner opened #157 "Can I change a "message" based on the response to a prior prompt?"
Question is as stated, seems like this should be possible:

[code]

[2019-05-19 19:44] doowb commented on #157
Yes, that's possible! [This example](https://github.com/enquirer/enquirer/blob/15e95b47bc1c94def9ff3808c418b8035a78dc5a/examples/prompt-navigation.js#L74-L76) was recently added and it happens to use a previous answer to generate the `message` for another question.

[2019-05-20 13:57] ganobrega commented on #112
When will release the fix?

[2019-05-21 19:36] SamBroner commented on #157
Very cool! Thank you.

Okay, what if you want to do this:

What's your zipcode?
    Add zipcode && city,state to answers

Is ${city, state} correct?

Sam

[2019-05-21 22:21] sw-yx opened #158 "[feature request] "frecency", nonrestrictive Autocomplete"
this is doable in userland but i think it'd be a great built in thing.

basically i want to be able to let the user type, but autocomplete based on [frecency](https://github.com/mixmaxhq/frecency) of what they have typed before (like using a small cache defined by the developer), but also not be restricted by the list inside the autocomplete i.e. it behaves like an Input if the user wants.

does t

[2019-05-22 15:11] doowb commented on #158
@sw-yx I like this idea a lot!

I think there are 2 parts that you're describing:

1. allowing a user to select their literal input if it doesn't exactly match an item in the provided choices.
    I don't remember off the top of my head, but this might already be available.

1. frecency: saving and scoring user's previous search and selection to sort results based on frequency and recency of the s

[2019-05-22 17:25] sw-yx commented on #158
yeah for sure, just need to make time to build it 😅

[2019-05-23 01:30] jonschlinkert commented on #158
I love both ideas, especially being able to sort suggestions by frecency. I'll focus on that feature here...

In userland, I *think* this can be accomplished by just sorting the results that are returned by a custom `suggest` function. Something like:

[code]

If we add sort-by-frecency as a built-in feature, I think we can do something similar to the history feature in the [Input prompt](https://

[2019-05-23 01:38] sw-yx commented on #158
the reason i cant use Autocomplete for this is because it is restrictive, exactly as doowb describes, i need to be able to allow for input of new items not on the list.

but yea i just gotta find time to build it. maybe someone will beat me to it :)

[2019-05-23 01:43] sw-yx commented on #158
more notes on frecency in Slack: https://slack.engineering/a-faster-smarter-quick-switcher-77cbc193cb60

and also rupa/z

[2019-05-23 02:15] jonschlinkert commented on #158
K, got it - I think. The ability to add values on the fly AND have them be [sorted correctly](https://slack.engineering/a-faster-smarter-quick-switcher-77cbc193cb60#700c) in comparison to other values that are sorted by frecency is the key. Correct?

[2019-05-23 02:32] jonschlinkert commented on #157
@SamBroner, to add to @doowb's example, there are a couple of ways to do what you want:

**1. Chained prompts**

[code]

**2. The "form" prompt**

[code]

Does this answer your question?

[2019-05-23 15:45] sw-yx commented on #158
yeah. obviously adding a new value means we dont need to AutoComplete anymore and we just become an Input.  so it's kinda bimodal: if there's a match, be an Autocomplete, if there's no match, be an Input and save the answer in the history for future autocompleting

[2019-05-24 09:06] svicalifornia commented on #51
@jonschlinkert  I agree with @0x80 — something seems flawed in how enquirer handles value.

You said in [this comment](https://github.com/enquirer/enquirer/issues/40#issuecomment-437657087):

But the `value` doesn't get returned as the answer. The `name` of the choice gets returned, and your [code snippet above for choices](#issuecomment-438199121) suggests that we should use the returned `name` v

[2019-05-24 09:15] svicalifornia commented on #51
OK… in version 2.3.0 of enquirer, `this.focused.value` does return the value.

Nonetheless, [your comment on the other thread](https://github.com/enquirer/enquirer/issues/40#issuecomment-437657087) indicates that the question should simply return the `value` of the selected choice, if that choice has a `value` defined. It feels hacky to have to add a result function to every question to access `th

[2019-05-26 04:46] sw-yx commented on #158
frecency isnt the best documented lib. i managed to get automcplete working with frecency: https://github.com/sw-yx/cli-state#accessglobalfrecency

but now i need to make it turn into an `Input` for unrecognized values.

[2019-05-26 11:30] jonschlinkert commented on #158
yeah, I like that, and it's kind of how I was thinking of it too.

We can help with that part, I think this feature might need to be built in.

Just thinking out loud... FWIW the goal of the current release was to "get it working" so that usability was as close as what we wanted as possible. The goal of the next release is to make things like this easier for implementors to customize (but also to

[2019-05-26 11:31] jonschlinkert commented on #158
btw, @sw-yx thanks so much for the amazing and flattering tweet!

[2019-05-26 16:31] sw-yx commented on #158
np! yeah i understand, take your time to get it right. this is a nice test usecase i suppose :)

[2019-05-26 23:06] jonschlinkert commented on #153
Sorry I missed this question.

You're absolutely right, it shouldn't do that. If it does, that's a regression and wasn't implemented that way intentionally.

However, I'm not able to reproduce. I know it has been a while since you created the issue, and since I took so long to respond you might not remember now, but if you do, would you mind adding a code example to show how to reproduce?

[2019-05-26 23:09] jonschlinkert opened #161 "bug: form prompt should always accept numbers as values"
**What's happening, but shouldn't**

Currently, since the Form prompt is based on the Select prompt, number keypresses cause the cursor to jump to a different "choice".

**What should be happening**

Number keypresses should append user input.

[2019-05-26 23:10] jonschlinkert commented on #157
Closing since I think this was resolved.

[2019-05-26 23:10] #157 closed

[2019-05-26 23:11] jonschlinkert commented on #161
Ah, wait, as soon as I pressed "comment" I remembered that this was intentional and can very easily be overridden. See: https://github.com/enquirer/enquirer/issues/157#issuecomment-495044515 for details.

[2019-05-26 23:11] #161 closed

[2019-05-27 07:09] AlCalzone commented on #153
@jonschlinkert You can take a look here:
https://github.com/ioBroker/create-adapter/pull/153/commits/9ee7b3df67424a006b0bbd7746d1048b228eab13

If you want to experiment with the repo, clone it and:
* `npm ci` to install the deps,
* `npm run build` to compile TypeScript, then
* `npx .` to execute it. Just press CTRL+C on the first question to trigger the error.

[2019-05-28 14:05] airboss001 opened #162 "Odd behavior in Bash terminal with npm link"
I don't know how to categorize this issue, so am seeking to see if perhaps you have some insight why the following might be happening.

I am using another github project ([aurelia-cli](https://github.com/aurelia/cli)) that has issues in a git bash shell where, when using enquirer for input the cursor positioning is off when using a input prompt when key entry is done (overwrites part of the prompt

[2019-05-29 00:08] 3cp commented on #162
It's not just aurelia-cli. The problem can be reproduced with enquirer too, it's related to how git bash on windows runs. I am not sure how much it can be done for git bash on windows.

https://discourse.aurelia.io/t/aurelia-cli-beta-15-option-selection-not-working/2584/11?u=huochunpeng

[2019-05-30 22:07] ericksepulveda commented on #112
I'm also experiencing this bug/feature. Hopefully you can introduce a flag to turn off the use of numbers to jump to an option.

[2019-05-31 16:28] taktran commented on #27
Hi, I'm trying to do multiline, eg,

I try to paste something like the following into `enquirer` `input`/`form` prompts:

[code]

However, the terminal screen gets all messed up with multiple lines of `Something hereAnother line`. It does store the multiline'd content in the response, but without the newlines in there. Is there an example of how this works?

Thanks!

[2019-06-07 09:53] jpike88 commented on #135
![Screen Shot 2019-06-07 at 4 53 38 pm](https://user-images.githubusercontent.com/9585787/59096341-d07ac900-8944-11e9-89ec-da7446aa60e3.png)

[2019-06-12 09:25] taktran opened #164 "How do I allow carriage returns to be pasted into input?"
[Sorry for posting again (but the issue I posted in is [closed](https://github.com/enquirer/enquirer/issues/27#issuecomment-497774599), so might not be looked at]

I'm trying to do multiline, eg,

I try to paste something like the following into `enquirer` `input`/`form` prompts:

[code]

However, the terminal screen gets all messed up with multiple lines of `Something hereAnother line`. It does s

[2019-06-12 09:27] taktran commented on #164
I've also tried the `3.0` branch, but it seems to do the same.

[2019-06-18 16:09] dolsem opened #165 "Pasting into terminal with Snippet messes up the output"
Here's my terminal output when I use Snippet:
[code]
Everything works great, unless I try pasting one of the values into the prompt.
Then this happens:
[code]

[2019-06-18 16:11] jonschlinkert commented on #165
That makes sense, pasting into the terminal with prompts isn't supported with the snippet prompt.

Is this a feature request?

[2019-06-18 23:45] dolsem commented on #165
@jonschlinkert I was assuming this was a bug, not expected behavior. A feature request then :)

[2019-06-26 12:42] faressoft opened #166 "AutoComplete custom function"
Is it possible to use my own fuzzy custom function to filter the elements when the user type something with AutoComplete prompt?

[2019-06-26 19:15] doowb commented on #166
Yes, take a look at [this example](https://github.com/enquirer/enquirer/blob/55923c2e913eeb9d6cfb8d632220145f85aec741/examples/autocomplete/option-suggest.js#L11-L13)

[2019-06-26 19:15] #166 closed

[2019-06-30 07:09] rajat-sr opened #167 "confirm prompt example"
- [ ] enquirer-option-default.js => error
![image](https://user-images.githubusercontent.com/13731210/60393489-e3438080-9b33-11e9-8e19-beea7bec02bc.png)

[2019-06-30 11:13] rajat-sr opened #168 "enquirer prompt example"
- [ ] enquirer-prompt.js => error
![image](https://user-images.githubusercontent.com/13731210/60395766-02530a00-9b56-11e9-8a7e-cc1ff665d376.png)

[2019-06-30 11:15] rajat-sr opened #169 "custom prompt example"
- [ ] custom-prompt-standalone.js => error
![image](https://user-images.githubusercontent.com/13731210/60395789-6bd31880-9b56-11e9-9f54-edae94118978.png)
- [ ] custom-prompt-plugin-function.js => error
![image](https://user-images.githubusercontent.com/13731210/60395818-c3718400-9b56-11e9-9f1f-42b66b21fa46.png)

[2019-06-30 12:37] rajat-sr opened #170 "number and numeral prompt code"
- [ ] The input changes to zero when decimal (.) is pressed. Seen in all examples of number prompt and numeral prompts.
Example - _number/option-format.js_
![enquirer-decimal-example](https://user-images.githubusercontent.com/13731210/60396569-ca9d8f80-9b60-11e9-8a3f-32fac83bbb6c.gif)

[2019-07-01 21:13] whitecolor opened #172 "Hyper Term visual problems"
I'm using https://hyper.is/ version 3 on windows 10

There are visual issues alike in https://github.com/enquirer/enquirer/issues/88 (btw it seems that after updates it became better).

But hyper experience is almost awful :(

[2019-07-01 21:26] jonschlinkert commented on #172
I personally use Hyper with Enquirer on both Windows and Mac, it's what I used to create all of the gifs on the readme. You'll need to provide more information than this.

[2019-07-02 08:52] whitecolor commented on #172
This what see with autocomplete example from docs:

![image](https://user-images.githubusercontent.com/736697/60498620-67326f80-9cd0-11e9-8f0f-7e204a02596e.png)

[2019-07-02 23:45] rajat-sr opened #174 "list prompt example"
option-result.js filters out only the last empty string from the resulting array.
Add a list prompt example that filters out all the empty strings from the result.

[2019-07-04 16:44] shdblowers opened #176 "multi-select: change color based on if selected"
Hi, thanks for the library! Finding it very useful.

Wondering, if its possible to, for example, display a choice as green when selected and white when not selected.

Something like this:

![image](https://user-images.githubusercontent.com/11884841/60680468-5bd37580-9e83-11e9-953a-650219efca1a.png)

[2019-07-04 16:45] shdblowers commented on #176
Looking to make the selection more obvious across the entire row, as I am displaying a table of data.

[2019-07-05 11:22] whitecolor commented on #112
@jonschlinkert

This is a really strange bug) just noticed, hope for a fix.

[2019-07-05 13:30] rajat-sr opened #177 "number and numeral prompt example (option-inital)"
number/option-initial.js _AND_ numeral/option-initial.js => doesn't display characters while typing input
![enquirer-number-initial](https://user-images.githubusercontent.com/13731210/60396641-d2116880-9b61-11e9-9aa9-662642839805.gif)

[2019-07-06 16:56] jonschlinkert commented on #176
Sorry it has taken so long to reply! @doowb and I have been off for a few days. This is definitely doable, I'll post an example ASAP

[2019-07-08 14:26] whitecolor commented on #172
@jonschlinkert

Maybe those issues relate to some system problems, not enquirer's by nature because in `vscode` term I too experience alike visual issues, they both based on xterm.

Though it is strange to me that you don't experience them.

[2019-07-09 10:32] shdblowers commented on #176
forgot it was the holidays in the US 😄 🇺🇸

[2019-07-09 21:19] doowb commented on #177
@rajat-sr I figured this out.

[This line in lib/prompt.js](https://github.com/enquirer/enquirer/blob/55923c2e913eeb9d6cfb8d632220145f85aec741/lib/prompt.js#L196) is binding the `this.format` method to ensure the first argument is always using `this.value`.
[This line in lib/types/number.js](https://github.com/enquirer/enquirer/blob/55923c2e913eeb9d6cfb8d632220145f85aec741/lib/types/number.js#L16)

[2019-07-09 21:32] #168 closed

[2019-07-09 21:35] #174 closed

[2019-07-09 21:53] #170 closed

[2019-07-09 21:54] doowb commented on #169
@rajat-sr and I spoke about these issues and determined that the examples just need to be updated to align with the latest Enquirer code. He'll be submitting some PRs with the changes.

[2019-07-10 17:01] #140 closed

[2019-07-10 18:15] selfrefactor opened #184 "Missing typings for `Select`"
I understand that it may be hard to create proper typing as you are using class in this case. Still, even the most basic definition which include `any` at one point, would help.

[2019-07-10 23:03] #167 closed

[2019-07-10 23:04] #169 closed

[2019-07-10 23:05] #142 closed

[2019-07-12 00:33] #177 closed

[2019-07-16 20:44] rajat-sr commented on #129
Thanks, @Means88 for this issue.
Raised PR #187 to resolve it.

[2019-07-16 21:11] #129 closed

[2019-07-19 20:25] #139 closed

[2019-07-20 00:32] #146 closed

[2019-07-22 05:42] keverw opened #199 "Cannot read property 'enabled' of undefined"
In autocomplete I'm loading a list of SPDX License Identifiers as an array. If I type `bsd-` then type `2` it throws this error.

I searched this issue to see if anyone else and came across a issue report with another tool using the same library https://github.com/Automattic/vip/issues/265  on trying to type `test-0`. So sounds like a very similar issue possibly causing both.

I'm using Typescript

[2019-07-22 05:51] keverw commented on #199
Hmm I was just skimming over the opened issues and found #112. I wonder if what's causing my issue might be the same as that issue.

[2019-07-22 13:15] shdblowers commented on #176
I have finished development on my CLI app. No longer required.

[2019-07-24 20:31] jonschlinkert opened #200 "Next generation snippet prompt!"
I just published [tabstops](https://github.com/jonschlinkert/tabstops), the library that will give superpowers to Enquirer's next generation snippet prompts!

I'm linking to it here, so that Enquirer users can give feedback, ideas, ask questions, and make requests as we work towards the next major of Enquirer!

[2019-07-25 14:06] hgascoigne opened #201 "Multiselect prompt does not work with initial function"
Using the Multiselect prompt, using a function for `initial` that returns an array does not seem to be working. After stepping through the code I see that `types/array.js` properly runs the initial function and sets `this.initial` to the value I expect.

This line properly returns my choice as enabled:
https://github.com/enquirer/enquirer/blob/master/lib/types/array.js#L34

But the very next line

[2019-07-25 15:47] jonschlinkert commented on #201
Hi @hgascoigne, thanks for the issue.

Can you post an example of how your specifying choices?

[2019-07-25 16:46] hgascoigne commented on #201
Hi there, it essentially looks like this:

[code]

In my "real" code I am getting the arrays in each function from an external source, but they would resolve to arrays that look like the above. Note that setting `this.options.initial = initial` fixes this issue for me.

[2019-07-25 17:39] jonschlinkert commented on #201
Hmm, yeah that does seem like a bug. We'll dig into it and get this fixed, thanks again.

[2019-07-25 18:08] hgascoigne commented on #201
Awesome, thank you!

[2019-07-27 18:30] JoshuaKGoldberg opened #202 "ArrayPromptOptions.choices should be (string | Choice)[], not string[] | Choice[]"
This means TypeScript will not allow you to use an array that contains _both_ `string`s and `Choice`s.

Did you mean that every item in the array must be `string | Choice`?:

I've verified on the CLI these seem to work in the latter way.

[2019-07-31 09:41] blikblum commented on #131
I just hit this issue while porting from inquirer.

The answers can be accessed by `state.answers`. Note that sometimes state param is not passed to function in some cases like in `choices` or is passed as first param like in `message`. In this cases it can be accessed using `this.state.answers`

[2019-07-31 16:14] sramam commented on #131
thanks @blikblum!

[2019-07-31 16:14] #131 closed

[2019-08-15 13:39] Gaspacchio opened #205 "What is the relationship between enquirer and Inquirer.js?"
I'm writing simple CLI app to ease the integration of style guide in JS projects ([standardize-js](https://github.com/Gaspacchio/standardize-js)), and am currently using [Inquirer.js](https://github.com/SBoudrias/Inquirer.js/) to get an interactive experience. I discovered your project and was wondering if there are benefits to switch from Inquirer.js to enquirer?

I guess issue #22 and #40 are a

[2019-08-15 13:45] jonschlinkert commented on #205
There is no relationship. It makes no sense to cross-post the question on Inquirer. This project was created after first attempting to contribute to that library, and the bad attitude and philosophies of the Inquirer team that ensued from that conversation.

If you want to use Enquirer, great. Or don't.

[2019-08-15 13:45] #205 closed

[2019-08-15 13:49] Gaspacchio commented on #205
Sorry if I offended you, it wasn't my intention. I was just seeking to create a great discussion thread that would help people to decide which one would be better to use.

Closing the issue seemed a little harsh to me, I would have loved to be able to get real insights on your advantages and your philosophy!

Thanks in advance and sorry again.

[2019-08-15 13:53] jonschlinkert commented on #205
You stated your intentions.

Issues are reserved for specific feature requests and bug reports.

The advantages and features of Enquirer should be self-evident after reviewing the readme. If not, then download both libraries and use them, then decide which one meets your needs.

[2019-08-15 13:55] sw-yx commented on #205
jon has a lot of oss to handle :)

indeed @Gaspacchio you'll be sold if you take a real look at the readme and have tried inquirer before. its not nice to open an issue and say "sell me on this thing", doesn't owe that to you.

[2019-08-15 13:59] Gaspacchio commented on #205
Thanks for clarifying things out @sw-yx, it had not occurred to me that it could be bothering to open an issue like this.

I may try the package indeed, thanks for the suggestion. I'm just not used to GitHub issues and thought I could just start a conversation from it.

Thanks again, have a nice day.

[2019-08-16 02:47] SBoudrias commented on #205
Not sure what happened back then, but sorry if you got offended by an answer I gave you. I hope you realize from the follow-up discussion on this thread that as OSS maintainers we're often walking on eggs.

[2019-08-16 08:28] Gaspacchio commented on #205
No worries and thanks for your quick answer @SBoudrias!

[2019-08-25 02:04] kaustavghosh06 opened #206 "Usage of Sort type of question"
I'm trying to use the Sort type of question for a CLI flow, like the following:

[code]

Here's my CLI display

[code]

But I'm not able to sort the above list with the instructions - `<shift> + up/down arrow`.
I'm on a Mac system and not sure what I'm doing wrong out here.

[2019-08-25 18:07] kdankert opened #207 "List Prompt requires the result property/function to return a string"
The List Prompt requires result to return a string.

That basically means that you can't add something to the array as result.
If you try to treat the result as a string and add your array elements to the string the whole result of this prompt will be a string and not an array anymore.

This is probably because of the SortPrompt as Webstorm shows an error as it requires (string) => string due to t

[2019-08-25 18:43] jonschlinkert commented on #207
Thanks for letting us know, I'm going to flag as a bug.

[2019-08-25 21:43] doowb commented on #206
Hi @kaustavghosh06, I copied the [sort/prompt.js](https://github.com/enquirer/enquirer/blob/117f92691126965a7e5898d5e5f051b2e58e3009/examples/sort/prompt.js) example and replaced it with code to match yours, and it's working for me (I'm also on Mac):

[code]

To rule out any bugs that may have been fixed in the GitHub repository but not published to NPM yet, will you run your code using the latest

[2019-08-25 22:00] doowb commented on #207
I think this is just an issue with the types in `index.d.ts` They probably just need to be updated to show that the `ListPrompt` will return an array (or specify the `result` function can return `any` since `result` is an option that can be overridden).

[2019-08-26 22:59] velivelo opened #208 "Select prompt: name error"
I have a select prompt which has the name property = "value" and all the choices have the property value corresponding to the choice's index. The problem is if i pick the first choice and look at the answer object there is the "value" property equals to the first choice's message. I guess it's because the prompt thinks there is no "value" property by doing something like `if (choice["value"]) ...`

[2019-08-27 10:17] velivelo commented on #208
Yes i understand the exemple but what if i want my answer object to be just the index of the choice like `1` or `{ index: 1 }`. I would put no name and in each choice i would put in addition to the  "message", the "value" property equals to 0, 1, 2, ... So the problem persists, when i came to the first choice (with index= 0) it doesnt returns 0.

Look:
`'use strict';

const { Select } = require('e

[2019-08-31 18:24] nikolay-borzov commented on #121
Returning `name` values instead of `value` values is confusing. If it's by design - this design contradicts common expectations

[2019-08-31 21:33] jonschlinkert commented on #121
@MikeZyeman `name` is the unique ID for choices. Seems like it would be more effective to use a different property to define those duplicate values.

***

Really? You know what common expectations are? I think that you should be getting paid $1b/year, if you're able to understand everyone in the world's expectations without actually doing any research or seeing data. That's amazing. Truly!

/end s

[2019-08-31 21:47] nikolay-borzov commented on #121
Common expectations are
- name is not unique and used to represent text to a user
- value is unique and used to identify the item

Then why not return choice objects itself instead of just `name` values?

[2019-09-03 18:47] snowfrogdev commented on #124
I ran into the exact same problem. I'm using a TypeScript enum and the first item in the enum (mapped to 0) is not being processed properly, all the rest are being deat with as expected.

[2019-09-05 01:50] tiagonapoli opened #209 "Confirm prompt doesn't work with initial option"
Initial message for `Confirm` is always `true` or `false`, despite setting `initial` option:

[code]
This renders: `? Wirklich? (J/n) ‣ true`

Adding to that, the functions `prompt.isTrue` and `prompt.isFalse` have to check `input` type, because they're receiving a boolean. The following code immediately throws `UnhandledPromiseRejectionWarning: TypeError: input.toLowerCase is not a function
`:
[c

[2019-09-05 02:17] tiagonapoli commented on #209
Is there a way to render something like `? Wirklich? (J/n) ‣ ` or `? Wirklich? (J/n) ‣ j `?
Rendering `? Wirklich? (J/n) ‣ true` is very odd in a yes or no question

[2019-09-17 18:34] kdankert commented on #207
Unfortunately I've never worked with type declaration file before, so I am not able to do this by my self.
Is somebody already working on this, would be great to actually being able to modify the response again without having to do it manual using javascript later.

[2019-09-19 06:40] tunnckoCore opened #210 "Select prompt with autocomletion?"
Like, fuzzy search. I might be lazy but the arrow keys are too far away :D

The thing is that we will have the list of choices, but should also be able to start typing and what best match to be selected. I think I've seen a similar thing? Anyway, I don't want to use the AutoComplete prompt, because it doesn't show the available choices, which is my intent, so it's easier for end-users calling the

[2019-09-21 01:57] sw-yx commented on #210
related https://github.com/enquirer/enquirer/issues/158

[2019-09-21 03:50] tunnckoCore commented on #210
Not exactly. I want to be able to autocomplete from already defined/static choices. Nothing to do with frequency and any form of saving/caching of the choices, which is cool feature anyway :)

[2019-10-02 13:31] kimemin commented on #128
https://github.com/enquirer/enquirer/blob/master/lib/prompt.js#L233

This code does not call `initialize()`, so `this.state._choices` is `undefined`.
just add default value like this.
[code]

[2019-10-02 19:41] kaustavghosh06 commented on #206
@doowb This works on iterm on a Mac but won't work in the default Mac terminal. The root-cause is out here - https://github.com/enquirer/enquirer/blob/master/lib/keypress.js#L104
On iterm `key.sequence` is ` '\u001b[1;2B'` for shift+down but on mac terminal it's `'\u001b[1;2B'`.  Related issue - https://superuser.com/questions/841391/os-x-terminal-eating-the-shift-key
Any way to solve this? I'm bl

[2019-10-02 20:32] doowb commented on #206
@kaustavghosh06 thank you for the additional details (I see that it also does not work for me in the Mac Terminal).

However, the sequence that you put above is the same. Did you mean to put a different sequence?

[2019-10-02 20:36] kaustavghosh06 commented on #206
@doowb Sorry, updated the sequence.

[2019-10-02 20:41] kaustavghosh06 commented on #206
As a workaround, I forked the package and changed the right/left keypresses to invoke the up and down functionality and for some reason Mac terminal is able to detect shift +left/right arrows.

Change:

[code]

[2019-10-02 23:09] undefobj commented on #206
@doowb I also work with @kaustavghosh06 and we're happy to submit a PR on this right now, but we don't want to break anything. We actually need this functionality very soon for a release and would prefer not to temporarily fork the project and just contribute a fix, but we understand if you need to think about this more.

[2019-10-02 23:37] doowb commented on #206
Thanks for looking into this more. A PR would be wonderful, but it would need to ensure other things didn't break (as @kaustavghosh06 mentioned).

I don't think that the suggested change of the meaning of the escape sequence is the correct way to go, however, it lead me to investigate a little more and I think I have an option as a work around for you.

Since you'd be willing to let the user know

[2019-10-02 23:57] undefobj commented on #206
@doowb Thanks a bunch! We just tested this and it's working great. Really appreciate the help. We'll roll with this solution for now but let us know if there is something we should replace it with in the future.

[2019-10-03 00:36] doowb commented on #206
NP... I'll leave this open as a reminder to see if we can do anything.

[2019-10-03 01:39] kaustavghosh06 commented on #206
Thanks a lot @doowb for the workaround.

[2019-10-05 15:50] sw-yx opened #212 "[types] Module '"../node_modules/enquirer"' has no exported member 'MultiSelect'"
hey jon, is there something that broke recently with the types? i cant seem to import MultiSelect. when i import `prompt` instead and use a `type: 'multiselect'`, the `choices` field doesnt seem to accept an array. whats the status? i might be able to contribute a fix but just figured i would get a general take of the state of typing in this lib. i had expected it would be first class...

[2019-10-07 13:27] jonschlinkert commented on #212
hmm, not sure why that's broken, thanks for bringing it to our attention. @doowb can you look into the last release to check for regressions? Could it be as simple as a typo (perhaps casing was changed?)?

The sentiment is appreciated, sorry to disappoint. For a whole host of reasons that I'll spare you, I have not personally jumped on the TypeScript bandwagon. However, I'm very open and supportiv

[2019-10-07 14:19] doowb commented on #212
I'll look into it.

[2019-10-07 14:27] sw-yx commented on #212
ah ok. then its likely that the typings are out of date and a MultiSelect type never existed. if you confirm i can probably contribuet

[2019-10-07 14:41] doowb commented on #212
@sw-yx you're right... the MultiSelect type is not in the current typings file. There is [this PR](https://github.com/enquirer/enquirer/pull/82) that makes a lot of TypeScript changes and adds `MultiSelect`, as well as, the `multiselect` value for the `type` option.

Since there were some conversations going on in the PR, I'm not sure if it's "complete". Would you be able to do a quick review? If

[2019-10-07 14:49] sw-yx commented on #212
yea that pr seems kinda stale. i’ll copy over what he has and make a fresh one. happy to help! yall know im a fan

[2019-10-07 19:57] jonschlinkert commented on #212
Awesome thank you!

Sent from my iPhone

[2019-10-07 21:26] sw-yx commented on #212
no really you should consider this:

what's your thought?

[2019-10-09 11:44] jjalonso commented on #129
I have still a similar issue.

First time I enter a number value and it fails, after, i try to add other numbers also invalid like "444" but you cannot see anything getting typed, then you press enter and you can see all the numbers appear instantly, and the error too. Look like terminal is not re-rendering.

it neither works when you delete and try to write a valid number, the answer is collected

[2019-10-09 14:46] doowb opened #215 "Unable to see input after validation fails"
/doowb: I'm moving this to a new issue since it's affecting a different prompt than what was specified in the original issue. Thanks @jjalonso for the detailed example and gif.

First time I enter a number value and it fails, after, i try to add other numbers also invalid like "444" but you cannot see anything getting typed, then you press enter and you can see all the numbers appear instantly, an

[2019-10-09 14:50] doowb commented on #215
I'll look into this soon. The referenced issue has a PR that fixed the `list` prompt. That fix might be able to go in the `number` prompt too (or in a parent of those prompts to ensure all prompts use the same logic - I'll dig into this a little more).

If anyone else gets to it first and would like to submit a PR, please let me know and I'll review.

[2019-10-09 22:22] jonschlinkert commented on #212
@doowb and have been chatting about this, I meant to reply earlier. I'd prefer to do whatever would provide the best DX -- but we're leaning towards having it in the project, along with a linting and tests, so that we can more easily ensure that everything stays up-to-date and correct. However, since I'm only superficially familiar with TS, I might be asking too much, since we'd need to rely on so

[2019-10-10 00:15] sw-yx commented on #212
oh i had no idea! nice. yeah the typings would only cover the public facing API  so we wouldnt really care about internals. but it does sound like you're changing the public api.

yeah just let me know. i was leaning towards not having the types in here but either way its your call

[2019-10-10 02:21] jonschlinkert commented on #215
thanks to everyone for looking into this and reporting it

[2019-10-10 18:17] zephraph opened #216 "Autocomplete prompt pushed out of view in with many results"
I noticed this in vscode's terminal on OSX. If the autocomplete prompt returns a number of results that are larger than the height of the terminal then the initial prompt is pushed off the screen.

![image](https://user-images.githubusercontent.com/3087225/66595264-962a6e00-eb68-11e9-8816-9120099467cd.png)

[2019-10-15 16:40] NoriSte commented on #66
I'm very interested in this feature, I'd like to use it in my [nprr](https://github.com/NoriSte/nprr) (a sort of *npm run + autocomplete*) package 😊

[2019-10-16 02:42] acro5piano commented on #114
I love this feature. Thank you for the great library!

[2019-10-25 23:21] stephencweiss opened #218 "How To Use Examples"
Hi there!

I'm pretty new to command line and am excited that I found `enquirer`! I spent some time looking around open issues and through the repo before writing this, but still, it might not be the right place for this question.

Basically, I wanted to get a sense of how `enquirer` works and play around with it - so when I saw the examples, that felt like a natural place to go.

Based on the .gi

[2019-10-26 00:17] jonschlinkert commented on #218
There is a `package.json` in the examples folder, you'll need to `cd` into the examples folder and run `npm install` first. Thanks for creating the issue, well make sure to document that better.

The `.npmrc` file is to prevent the `package-lock.json` file from being used, it doesn't do anything to `node_modules`.

[2019-10-27 23:43] Whoaa512 commented on #216
Would be ideal if there was an option to the autocomplete prompt that allowed you to set the max items shown.

[2019-10-27 23:56] Whoaa512 commented on #210
Isn't this just an [Autocomplete prompt](https://github.com/enquirer/enquirer#autocomplete-prompt)?

The autocomplete prompt already shows the this of possible choices because it inherits from the Select prompt.

[2019-10-28 10:02] tunnckoCore commented on #210
Hm.

[2019-10-28 10:04] #210 closed

[2019-10-29 01:06] pke opened #220 "Select Prompt with horizontal and vertical choices"
I wonder if its possible to implement an `ArrayPrompt` that displays like this, where one can also select horizontally on option 1:

[code]

With this kind of choices:

[code]

Maybe this is possible using a custom nested prompt?

[2019-10-29 02:08] jonschlinkert commented on #220
This is definitely possible. I'll see if I can put an example together to show how to do it.

[2019-10-29 08:53] pke opened #221 "Array number keyboard shortcuts should count from 1"
As a user centred experience enquirer certainly is, the keyboard shortcuts for array selection should start counting from 1 and not from 0. Internally they can still count from 0 for programmers.

So in a list of

[code]

Presses of `<1>` should select the `"1"` entry and not `"2"` as its currently the case.
The result of that selection should still be the index into the choices array: `0`.

[2019-10-29 12:00] pke commented on #65
@jonschlinkert any progress on that?

[2019-10-29 12:03] pke opened #222 "Multilevel menu possible?"
I wonder if the current `select` prompt could be combined to a nested (dynamic) prompt:

[code]

The user should be able to select each top level item "action (2)", "links (3)", "entities (15)" as well as the sub items.

[2019-10-29 12:29] pke commented on #222
Closing, because this is absolutely possible using nested `choices`.

[2019-10-29 12:30] #222 closed

[2019-10-29 14:49] pke opened #223 "Add option to form to toggle password fields"
Is there a way to add a toggle to each "password" (form) input to toggle its display of password or hide with `*`?

In general could we easily add a toggle, which is not counted as part of the forms result to form prompts?

[2019-10-29 15:14] pke opened #224 "Traverse form fields with [Return]"
Pressing [Enter] on form fields should only submit the form when no field is empty, otherwise the prompt should focus the next empty choice.

[2019-10-30 16:01] cjwooo commented on #209
I also think the `true/false` is odd. You can change it by extending the Confirm prompt and overriding its `format` [function](https://github.com/enquirer/enquirer/blob/master/lib/types/boolean.js#L24).

My version displays `yes/no`:
[code]

[2019-10-30 17:19] tiagonapoli commented on #209
Did you manage to change the initial option?

[2019-10-30 21:22] pke commented on #220
I guess it would be something similar to [hselect](https://github.com/enquirer/enquirer/blob/master/recipes/hselect.js). If only choices could specify their own prompt. Somewhere in the README it stated that one can mix prompts together. Maybe therein lies the clue to solve this issue?

[2019-11-01 04:10] stephencweiss commented on #218
Ah - must have missed the `package.json` in the examples. Thanks for the heads up!

And that’s what I meant. Why is it helpful to _not_ have a `package-lock.json`? (This is the first time I’ve ever seen it, so it just caught me by surprise and I’m trying to learn.)

Thanks!

[2019-11-01 10:51] pke opened #225 "Docs: Explain cancellation better"
I still don't get how cancellation works with prompts.

[code]

Pressing `Ctrl+C` will throw an empty `String`. How am I supposed to know that the prompt has been cancelled? Or to ask it differently, under which circumstance can the prompt throw too so I can distinguish between cancel (empty string) and other exceptions?

[2019-11-05 19:19] ChrisMc4 opened #226 "ShiftTab registers as Tab"
The prev() method isn't getting called on a ShiftTab. I checked the state.keypress after shift tab, and it also shows that the shift key was not pressed. This is on windows, running the prompt from Command Prompt, Git Bash, and Powershell.

I'm new to working with CLIs and JavaScript classes, so I included the snippet below in case I accidentally overwrote some listener that caused this. Thanks fo

[2019-11-05 19:30] doowb commented on #226
There might be a similar issue to this one: https://github.com/enquirer/enquirer/issues/206

In that case the terminal is not sending the correct key sequence so we don't detect that it should be different. I'll see if I can determine if that's the case when I'm back at a computer.

[2019-11-05 20:59] ChrisMc4 commented on #226
I think you're right. Looking into it further, and apparently all Win32 consoles insert the same keycode for <tab> and <shift+tab>.

https://github.com/Microsoft/WSL/issues/1770
https://stackoverflow.com/questions/6129143/how-to-map-shift-tab-in-vim-cygwin-windows-cmd-exe

I reconfigured GitBash to run on top of mintty, which isn't affected. It correctly inserts tab and shift tab characters, but f

[2019-11-07 10:50] alesvojta opened #227 "Result value of Toggle prompt"
Is it possible to change result value of `Toggle` prompt from boolean to something else?

I'm trying to leverage the `result()` method with no luck. Currently I have to extended `Prompt` class and create my own prompt type with exactly the same behaviour besides it returns object instead of boolean.
Even if I try to extend `Toggle` prompt the result method isn't called at all.

I think it should b

[2019-11-14 08:35] YuunYang opened #230 "Can I use variational choices in autocomplete?"
I want to load different choices when word changes.

[2019-11-14 15:15] doowb commented on #230
@YuunYang as seen in [this example](https://github.com/enquirer/enquirer/blob/2796b25facb1f6914ffaecf9413e98209cb98a4d/examples/autocomplete/option-suggest.js#L11-L13) you can customize the `suggest` function to return the choices that should be shown. They don't have to be from the original list of `choices`.

If you have an example showing your code and what you want to do, we might be able to h

[2019-11-15 01:57] YuunYang commented on #230
@doowb Thanks for your reply, it really helps me lot

[2019-11-15 07:29] YuunYang commented on #230
@doowb sorry, I meet another problem, I wanna to update a totally new `choices` when typed
![image](https://user-images.githubusercontent.com/15278220/68924787-8253d680-07bc-11ea-9dc2-4e01301ebb6e.png)
but I see the structure of the choices is like this
![image](https://user-images.githubusercontent.com/15278220/68924838-9ac3f100-07bc-11ea-8198-3245f226756f.png)
so, I can't update directly

[2019-11-30 03:33] NaridaL opened #232 "Select: Async update choices"
I'm using a Select prompt, and I'd like to asynchronously update the message to add additional information. Is this possible? I see that choice.message accepts a function, but it's unclear if this is called every render, or just on initialization.

[2019-12-01 01:24] Coalpha commented on #124
I'm having a bit of trouble finding the bug.
I think it might be in [lib/types/array.js](https://github.com/enquirer/enquirer/blob/6c2819518a1e2ed284242a99a685655fbaabfa28/lib/types/array.js#L60) but other than that, I don't think I can figure out what's going on.
Sorry I couldn't help more.

[2019-12-08 11:14] MattixNow opened #233 "AutoComplete add user entry"
![image](https://user-images.githubusercontent.com/32040951/70388582-25f76780-19b4-11ea-8276-9229fb7e5b2c.png)
it would be useful to add the possibility of adding a field

[2019-12-09 11:37] faustbrian opened #234 "Injecting answers/values for prompts"
I am currently dabbling with enquirer and so far it seems solid but how to interact with prompts in tests is quite unclear.

With https://github.com/terkelg/prompts it is possible to inject your response before a prompt is called anywhere. This means that you don't need to have access to the prompt object itself and makes testing anything a breeze. This is important for when you test things like C

[2019-12-09 12:01] faustbrian commented on #234
@doowb @jonschlinkert based on https://github.com/poppinss/prompts I guess it isn't possible to test enquirer prompts without having direct access to them?

[2019-12-09 17:55] jonschlinkert commented on #234
This seems like a really strange conclusion given how many unit tests Enquirer has and how easy it is to pass values versus the hacks used in the prompts library. I can only assume this is a disingenuous fanboy issue. Closing.

[2019-12-13 16:13] citosid opened #235 "Answer is duplicated"
Thank you so much for this awesome tool. It has make my life way easier. However, I have a bug that I can't seem to figure out. See the following screenshot:

![image](https://user-images.githubusercontent.com/201430/70814262-1eabd180-1d99-11ea-9406-cabd8a63dcd3.png)

For every prompt it does the same thing. This is how my prompts are created:

[code]

[2019-12-13 17:24] jonschlinkert commented on #235
Is that all of the code you're using? Is there anything missing in your example?

[2019-12-13 20:32] citosid commented on #235
Sorry for the delay. Was doing a PoC. Here is the code:

[code]

[code]

And then, run:

[code]

You will see this:

<img width="447" alt="image" src="https://user-images.githubusercontent.com/201430/70829503-f386a980-1dbb-11ea-8e49-d4313f648587.png">

If you build this with `tsc` the builded one will _not_ have this problem. However, in my production code it happens. Since it can be reproducible

[2019-12-13 21:37] doowb commented on #235
I don't think I understand the situation then... isn't building with `tsc` how you create your production code?

I tried this without TypeScript and the issue only happens when using `nodemon`. And for me, it's after I hit <kbd>Enter</kbd>. This is indicating to me that `nodemon` is somehow sending the newline to the terminal before `enquirer` renders the results message (the one with the checkmar

[2019-12-14 02:40] AlansCodeLog opened #236 "Allow controlling what the AutoComplete function highlights."
I'm trying to implement a sort of fuzzy search with the `AutoComplete` prompt using the `suggest` option/function to filter the options but the moment the input is no longer a substring of one of the choices I get duplicated text:

No text
![Untitled](https://user-images.githubusercontent.com/26168490/70842197-6b29f800-1dff-11ea-8a7e-fac433ca06f8.png)

Input: `one`
![Untitled2](https://user-images

[2019-12-14 15:25] citosid commented on #235
Ok. I found the problem.

The issue is here:

[code]

If I add that, even if I don't use it, it will cause the duplication. I have no idea why though...

[2019-12-16 08:51] mralexgray commented on #127
this is such a weird behavior...

it should return a `promise`, not a `process.exit`!

[2019-12-16 17:15] jestrjk opened #237 "AutoComplete Exception - Long List with the string matching [a-zA-Z][0-9]"
Using autocomplete with an array of about 200 choices, with a limit of 20 and using a filter string that matches one of the array choices at the end of the string with  [a-zA-Z][0-9] pattern for example:

choices = [ 'some long string Q1', ...choices ]

when filtering by 'Q1', the result is an unhandled exception:

UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'enabled' of unde

[2019-12-16 17:27] jestrjk commented on #237
https://github.com/enquirer/enquirer/blob/2796b25facb1f6914ffaecf9413e98209cb98a4d/lib/types/array.js#L276

Linked: #237

This line could be changed to:
`if ( !choice || ( !choice.enabled && this.selected.length >= this.maxSelected )) {`

[2019-12-25 18:09] adityavyas611 opened #238 "[doc]: Syntax Errors in Code Snippets"
- There are syntax errors in some code snippets.
![image](https://user-images.githubusercontent.com/6883790/71449299-9ac9f000-276f-11ea-8daa-8323c5d1f5b2.png)

[2019-12-27 14:47] doowb commented on #238
closed by #239

[2019-12-27 14:47] #238 closed

[2020-01-04 23:15] euberdeveloper opened #242 "Autocomplete with multi select"
I found the module very interesting and more featured than the others. But I think I did not found an alternative to this: https://github.com/faressoft/inquirer-checkbox-plus-prompt

Is there a multiple select which allows autocomplete? If not, please mark the issue as feature requested

[2020-01-04 23:17] jonschlinkert commented on #242
Try passing `{ multiple: true }` on the options. I can't remember if this was included in the current release or if it's in the coming release.

[2020-01-04 23:20] euberdeveloper commented on #242
Sorry, did not notice that option. Thank you for the immediate response

[2020-01-04 23:20] #242 closed

[2020-01-05 06:54] vasanthdeveloper opened #243 "Breaks TypeScript Projects"
### 🛠️ What I did
Adding the dependency with the command:
[code]
and importing enquirer in the following way:
[code]

### 🐛 What happens
Breaks the TypeScript compilation in the following way:
![Isue](https://user-images.githubusercontent.com/24322511/71776353-26d0e880-2fb6-11ea-9057-3f148587a92c.png)

### 🍏 What should happen
The TypeScript should continue compiling without any errors.

----
####

[2020-01-05 13:47] adityavyas611 commented on #243
Hi, @vasanthdeveloper it seems NodeJs.EventEmitter is an interface here, and need implements instead of extends.

Can you please share your code, so I can have a look at the issue?

[2020-01-05 13:51] vasanthdeveloper commented on #243
@adityavyas611 Yeah, sure. I am currently working on a private repository. Would you like to get access to it? Right now, I have tested this module locally on my machine. I will create a new branch where we can work on this module.

[2020-01-05 14:16] adityavyas611 commented on #243
@vasanthdeveloper Yeah sure, please give me the access. so i can have some insights

[2020-01-05 14:20] vasanthdeveloper commented on #243
@adityavyas611 I have sent you an invitation to collaborate (which should give you read/push access) to my private repository. Please accept it :smiley:

[2020-01-05 16:57] vasanthdeveloper commented on #243
@adityavyas611 Is there any way I can directly chat with you? I use Twitter, Telegram, and Discord.

[2020-01-06 05:30] faustbrian commented on #234
Closing due to lack of response.

[2020-01-06 05:30] #234 closed

[2020-01-06 08:33] laggingreflex opened #244 "Cancelling a Select shows the last chosen option"
When using a Select Prompt, the user chooses to cancel (Ctrl+C), it shows the last chosen value anyway:

# Steps to reproduce:

Run the following code:

[code]

Navigate to any option but don't hit enter

[code]

Hit Ctrl+C

It will show

[code]

It shows the option "watermelon" even though you hit Ctrl+C.

# Expected behavior
Nothing should appear
[code]
Or like in MultiSelect where it shows "No

[2020-01-06 09:27] laggingreflex opened #245 "Hitting Escape on a Select leaves prompt in a hung state"
When using a Select Prompt, and the user hits <kbd>Escape</kbd> key, it leaves the command prompt in kind of a "hung" state... it stops taking any input or displaying anything after it.

Using the Select example from the docs, with a minor modifiction:
[code]
In normal scenarios, after selecting an option, or even cancelling (Ctrl+C), it shows Date every second.

But if you hit escape, it "hangs"

[2020-01-06 12:22] jonschlinkert commented on #245
Yeah, I was going to say that I could only reproduce this on Windows native shells. I'm not sure what the solution is for this, I'll look into it. PRs are welcome.

[2020-01-06 16:04] adityavyas611 commented on #243
find me on twitter with cybertron611

[2020-01-06 16:06] vasanthdeveloper commented on #243
@adityavyas611 I don't think you have DMs enabled on Twitter?

[2020-01-07 07:30] unional commented on #243
The reason is described in https://github.com/enquirer/enquirer/pull/246
`NodeJS` is a global namespace, should not be used in a module.

[2020-01-07 07:32] vasanthdeveloper commented on #243
@unional Could we close this issue as it is a duplicate of #246 ?

[2020-01-09 14:07] adityavyas611 commented on #244
@laggingreflex could you please share your code, where you are using select prompt?

[2020-01-09 14:17] laggingreflex commented on #244
@adityavyas611 I've updated the post with more info.

[2020-01-10 05:02] Cellule commented on #121
I was personally very confused by that and by looking at the doc in the README, I was fully expecting to get the `value` as the result of the prompt since a value is something you use in your code, a name is a way to refer to that value.
![image](https://user-images.githubusercontent.com/4157103/72126983-11541980-333c-11ea-8ea4-e292ea88e15c.png)
With the current behavior it's really convoluted to

[2020-01-10 18:20] jonschlinkert commented on #121
@Cellule, @nikolay-borzov,

- what if `{ multiple: true }` is enabled?
- what if `value` is not unique? Since it doesn't have to be.

`name` is synonymous with `key`, but every choice could have the same value, like `pepperoni` => `true`, `extra_cheese` => `true`. You are saying that you just want a single `true` value? Or do you want an array? `[true, true]`?

Or are you arguing that since you do

[2020-01-10 21:51] Cellule commented on #121
Ideally more flexibility the better.
I'm saying that the expectations of the api and from the documentation was that we'd receive the selected "value" from the user's choice.

The problem I have with saying the `name` is a key, a key to what ? I fail to see why I'm giving the value to `prompt` in the first place since I'll have to use the key to map the value myself.

I ended up doing something li

[2020-01-10 23:18] doowb commented on #121
In most of the places in the README that mention a `name` it's also referred to as a `key`. In this case, you even posted a screenshot of the [choice properties](https://github.com/enquirer/enquirer#choice-properties) that says that name is `The unique key to identify a choice`.

Also, the comment about `value` is saying that if a `value` is not on the choice properties, then `name` is used. There

[2020-01-11 23:06] jonschlinkert commented on #121
You keep saying “choice”, but the user can optionally have multiple choices.

Sent from my iPhone

[2020-01-13 09:32] unional commented on #135
I'm taking a shot at this and publish a series of video/streaming along the way,
so that people can learn and understand how to add types to an existing library.

Also, it help explaining the decisions I make and the problems I encounter.

https://www.youtube.com/playlist?list=PLTLdF9P_MLntLaJt4JEDfT-6Fsr-j2O1Y

I noticed there are some inconsistency between the prompts and some seemingly bugs alo

[2020-01-13 09:34] unional commented on #135
It is still a work in progress.
I hope I can finish it in the next two weeks.

One question, are you open to convert the project to TypeScript? 🌷
I'm not pushing for it or anything, but it will probably easier and cleaner if we do that.

[2020-01-13 09:42] unional commented on #135
One of the inconsistency is that some of the common functions such as `render()` is returning `void` or `Promise<void>` depends on which prompt we can working with. My guess is that this is a bug and they all should be asynchronous.

`AutoComplete.space()` is taking a `ch character but the base class does not, so there could be a bug there:
[code]

Also in AutoComplete, the `pointer()` function ha

[2020-01-13 09:43] unional commented on #243
I'm taking a stab at updating the definition. Adding comments in #135

[2020-01-13 17:48] unional commented on #135
As I'm doing this, I'm also adding more tests to cover all use cases. At the end of the exercise, the cover coverage should be very close to 100%.

[2020-01-13 17:49] doowb commented on #135
Hi @unional thank you for taking this on! There was [another conversation](https://github.com/enquirer/enquirer/issues/212) about `types` here that you might want to take a look at.

For now, we'd prefer to keep this project JavaScript (as mentioned in the other issue, we have a refactor in the works and would like to complete that before making a change like converting to TypeScript).

If you're

[2020-01-13 18:13] unional commented on #135
Hi @doowb, no problem. :)
The DT approach wouldn't work because the library already expose its type.

If someone creates and uses `@types/enquirer` now, it will result in conflict.

So the solution is to either remove the current `index.d.ts` from distribution and user uses the typings form DT, or fix the `index.d.ts`.

What I have done is convert the existing tests from JavaScript to TypeScript.

[2020-01-13 19:58] doowb commented on #243
A fix for this has been published in `v2.3.4`.

[2020-01-13 19:58] #243 closed

[2020-01-13 20:30] doowb commented on #135
I think when we do a major version bump, we'll want to do this (move the typings to `@types/enquirer`). After seeing the issue with `NodeJS.EventEmitter`, it would have been better to have the types external to the main code.

I think this comment reinforces the last point of moving the types to the `DefinitelyTyped` org. I appreciate what you are doing, but I don't think the tests should be conve

[2020-01-13 20:31] #176 closed

[2020-01-13 20:36] doowb commented on #176
Lol... so I didn't notice the PR adding an example for this was linked to this issue until the issue was auto-closed.

Thanks to @adityavyas611 there's an example showing how to use `choiceMessage` to change the message styles based on if the choice is selected or not. You can see the [example here](https://github.com/enquirer/enquirer/blob/169b527bb9aec2ffacead9bd6e8ff46cce821662/examples/select/

[2020-01-13 20:40] unional commented on #135
Not a problem~.
I convert the test from JavaScript to TypeScript because I can "eat my own dog food" as working on the type definition.
When everything is said and done, they can easily convert back to JavaScript. 🌷

[2020-01-14 07:08] adityavyas611 commented on #244
@laggingreflex  please try this and let me know if it works for you

[code]
![fixselect](https://user-images.githubusercontent.com/6883790/72321775-c125e000-36ca-11ea-9012-c7f4fe692735.gif)

[2020-01-14 08:00] adityavyas611 commented on #237
Hi, @jestrjk Could you please share your code, so I can have a better look at the issue?

[2020-01-14 08:03] adityavyas611 commented on #230
Hi @YuunYang, Do you want to remove all the existing choices and add the new choices that have been typed? Correct me if I am wrong.